<div style="margin-top: 60px; margin-bottom: 5%">
    <div class="container-fluid">

        <div class="">
            <label class="mainhead col-form-label heiding-size-hl"> Employee Record</label>
        </div>

        <form [formGroup]="employeeRecord">
            <div class="row tab-div">
                <div class="col-lg-12">
                    <div class="">

                        <div class="div1">
                            <div class="form-group row">
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="date" class="col-form-label pr-label">Date<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="Date" value="" placeholder=" " id="date" formControlName="date">
                                    <div *ngIf="employeeRecord.controls['date'].hasError('required') &&
                                    employeeRecord.controls['date'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <button class="btn-pos button" style="margin-top:25px" (click)="getEmployeeRecord()">
                                        Submit
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size "> Employee Report </label>
                        </div>
                        <div class="container" style="margin-top: 3vh; width: 100%;max-height:600px;overflow-y:scroll ">
                            <div class="">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="6%" class="th-bg-color">Card No</th>
                                            <th width="10%" class="th-bg-color">User Name</th>
                                            <th width="10%" class="th-bg-color">Email ID</th>
                                            <th width="20%" class="th-bg-color">Purpose</th>
                                            <th width="20%" class="th-bg-color">Checked-in Location</th>
                                            <th width="20%" class="th-bg-color">Checked-out Location</th>
                                            <th width="7%" class="th-bg-color">Check-in Time</th>
                                            <th width="7%" class="th-bg-color">Check-out Time</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let tracklist of tracklistArray">
                                            <td width="6%" class="td-text">{{tracklist.emp_card_no}}</td>
                                            <td width="10%" class="td-text">{{tracklist.user_name}}</td>
                                            <td width="10%" class="td-text">{{tracklist.email_id}}</td>
                                            <td width="20%" class="td-text">{{tracklist.purpose}}</td>
                                            <td width="20%" class="td-text">{{tracklist.checked_in_location}} </td>
                                            <td width="20%" class="td-text">{{tracklist.checked_out_location}} </td>
                                            <td width="7%" class="td-text">{{tracklist.check_in_time | date:'short'}}</td>
                                            <td width="7%" class="td-text">{{tracklist.check_out_time | date:'short'}} </td>


                                        </tr>
                                    </tbody>






                                </table>
                            </div>
                            <!--<div class="row">
                                <div class="col-lg-6 btn-pos1">
                                    <div class="btn-2">
                                        <button type="button" class="btn button btn-2" (click)="prevClick()">Prev</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn button btn-3" (click)="nextForm()">Next</button>
                                    </div>
                                </div>

                            </div>-->
                        </div>

                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->

                    </div>


                </div>
            </div>
        </form>

    </div>
</div>