.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    margin-left: 5%;
}

.pr-label {
    font-size: initial;
}

.hr {
    size: 5px;
}

.lab {
    background-color: #f4f4f4;
}

.margi {
    margin-top: 30px;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

.container {
    margin: 0px;
    padding: 0px;
}

#logButton {
    text-align: center;
}

.br-row {
    border: 5px solid #444d58;
}

.page-bar {
    float: right;
}

.page-breadcrumb {
    color: #888;
    font-size: 18px;
    text-shadow: none
}

.page-bar-pos {
    float: right;
}

.btn-pos1 {
    display: -webkit-inline-box;
}

.btn-pos {
    display: -webkit-inline-box;
    padding: 5px;
    width: 150px;
    position: relative;
    margin-top: 30px;
}

.head {
    background-color: #626c75;
    color: white;
}

.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}


/*.signUpLabel {
    text-align: center;
    font-size: 20px;
}*/

.signUpLabel {
    /*text-align: center;*/
    font-size: 24px;
    /*background-color: #f4f4f4;*/
    color: #2d3a4b;
    font-family: Roboto-Regular;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    text-align: center;
}

.br-row {
    border: 5px solid #444d58;
}

.pr-label {
    font-size: initial;
    font-family: Roboto-Regular;
    font-size: larger
}

.tab-div {
    margin: 10px;
}

.hd-title {
    margin-bottom: 5vh;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: Roboto-Regular;
    font-size: 24px;
    display: block;
    color: #666;
}

.page-bar {
    float: right;
}

.page-bar-pos {
    float: right;
}

.th-bg-color {
    color: #f08b23;
    background-color: #f4f4f4;
    font-family: Roboto-Regular;
    font-size: large;
    height: 7vh;
    vertical-align: middle;
    font-weight: 100;
}

.searchDesign {
    padding: 20px;
}

.td-text {
    font-size: 16px;
    font-family: Roboto-Regular;
    vertical-align: middle;
}

.icon-size {
    margin: 10px;
    font-size: large;
}

.bt-color {
    color: white;
    background-color: #f08b23;
}

.shad {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-top: 30px;
}

.hd-1 {
    font-size: 20px;
    background-color: #f4f4f4;
    color: #f08b23;
    border: 5px;
    border-style: blue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 18px;
}

.hd-2 {
    font-family: Roboto-Medium;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.hd-3 {
    font-family: Roboto-Regular;
    font-size: 16px;
    padding-bottom: 11px;
    margin-bottom: 0px;
    color: rgba(98, 108, 117, 0.82) !important;
}

.hd-4 {
    font-family: Roboto-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 3.11;
    color: #495f72 !important;
}

.mainhead {
    margin-top: 42px;
    margin-left: 15px;
    font-size: 24px;
    font-family: Roboto-Regular;
}

input,
select,
select option {
    background-color: #f4f4f4 !important;
    font-family: Roboto-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 3.11;
    color: #495f72 !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #495f72;
    ;
}


/*listing*/

.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}


/*.signUpLabel {
    text-align: center;
    font-size: 20px;
}*/

.signUpLabel {
    text-align: center;
    font-size: 20px;
    /*background-color: #444d58;*/
    color: white;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    margin-left: 5%;
}

.br-row {
    border: 5px solid #444d58;
}

.pr-label {
    font-size: initial;
}

.hr {
    size: 5px;
}

.tab-div {
    margin: 10px;
}

.page-bar {
    float: right;
}

.head {
    background-color: #626c75;
    color: white;
}

.sty {
    border: solid 1px #ccc;
    padding: 20px;
}

.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}


/*.signUpLabel {
    text-align: center;
    font-size: 20px;
}*/

.signUpLabel {
    text-align: center;
    font-size: 20px;
    background-color: #444d58;
    color: white;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    text-align: center;
}

.br-row {
    border: 5px solid #444d58;
}

.pr-label {
    font-size: initial;
    font-family: Roboto-Regular;
    font-size: larger
}

.hr {
    size: 5px;
}

.tab-div {
    margin: 10px;
}

.hd-title {
    margin-bottom: 5vh;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: Roboto-Regular;
    font-size: 24px;
    display: block;
    color: #666;
}

.page-bar {
    float: right;
}

.page-breadcrumb {
    color: #888;
    font-size: 18px;
    text-shadow: none
}

.th-bg-color {
    color: #ffd800;
    background-color: #295261;
    font-family: Roboto-Regular;
    font-size: 18px;
    /*height: 5vh;*/
    vertical-align: middle;
    border: 2px solid #aaaaaa !important;
    font-weight: 100;
}

.searchDesign {
    padding: 20px;
}

.icon-size {
    margin: 10px;
    font-size: large;
}

.bt-color {
    color: white;
    background-color: #f08b23;
}

.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    margin-left: 5%;
}

.pr-label {
    font-size: initial;
}

.hr {
    size: 5px;
}

.lab {
    background-color: #f4f4f4;
}

.margi {
    margin-top: 30px;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    text-align: center;
}

.br-row {
    border: 5px solid #444d58;
}

.hr {
    size: 5px;
}

.tab-div {
    margin: 10px;
}

.page-bar {
    float: right;
}

.page-bar-pos {
    float: right;
    color: #295261;
}

.button {
    border-width: 1px;
    border-radius: 4px;
    background-color: #ffd800;
    color: #00152A;
    text-align: center;
    box-shadow: 0px 2px 6.5px 0.5px rgba(0, 0, 0, 0.69);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto-Medium;
    margin-left: 23px;
    padding-left: 13px;
}

.head {
    background-color: #626c75;
    color: white;
}

.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}


/*.signUpLabel {
    text-align: center;
    font-size: 20px;
}*/

.signUpLabel {
    text-align: left;
    font-size: 24px;
    background-color: #f4f4f4;
    color: #2d3a4b;
    font-family: Roboto-Regular;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    text-align: center;
}

.br-row {
    border: 5px solid #444d58;
}

.hr {
    size: 5px;
}

.tab-div {
    margin: 10px;
}

.page-bar {
    float: right;
}

.btn-2 {
    margin-left: 5%;
}

.btn-3 {
    margin-left: 60%;
}

.td-text {
    font-size: 14px;
    font-family: Roboto-Regular;
    vertical-align: middle;
    background: white;
    border: 2px solid #aaaaaa !important;
    font-weight: 100px;
}

.cs-style {
    margin-left: 20px;
    font-size: large;
    height: 5vh;
}

.dp-btn {
    height: 5vh;
    margin: 0;
}

.icon-size {
    margin: 10px;
    font-size: large;
}

.bt-color {
    color: white;
    background-color: #f08b23;
}

.btn-add {
    margin-left: 30px;
    margin-top: 30px;
}

.div1 {
    /*box-shadow: 0px 0px 5px #888888;*/
    padding: 20px;
    margin-top: -9px;
}

.shad {
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-top: 30px;
}

.hd-1 {
    font-size: 20px;
    background-color: #295261;
    color: #ffd800;
    border: 5px;
    border-style: blue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 18px;
}

.hd-2 {
    font-family: Roboto-Medium;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.hd-3 {
    font-family: Roboto-Regular;
    font-size: 16px;
    padding-bottom: 11px;
    margin-bottom: 0px;
    color: black !important;
}

.hd-4 {
    font-family: Roboto-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 3.11;
    color: #495f72 !important;
}

.mainhead {
    margin-top: 28px;
    margin-left: 15px;
    font-size: 24px;
    font-family: Roboto-Regular;
    color: #2d3a4b;
}

.gridhead {
    font-family: Roboto-Regular;
    color: #2d3a4b;
    font-size: 24px;
    font-weight: 600;
}

input,
select,
select option {
    background-color: #f4f4f4 !important;
    font-family: Roboto-Medium;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 3.11;
    color: #495f72 !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #495f72;
    ;
}