.su-header {
    /*background-color: black;*/
    height: 50px;
}

.form-control-custom {
    /* display: block; */
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submitButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: black;
    border-radius: 12px;
    border: none;
    background-color: silver;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}


/*.signUpLabel {
    text-align: center;
    font-size: 20px;
}*/

.signUpLabel {
    text-align: center;
    font-size: 20px;
    background-color: #444d58;
    color: white;
}

.heiding-size-hl {
    font-size: x-large;
    text-align: center;
}

.heiding-size {
    font-size: x-large;
    margin-bottom: 10px;
    /*background-color: #444d58;
    color: white;*/
}

#logButton {
    text-align: center;
}

.br-row {
    border: 5px solid #444d58;
}

.pr-label {
    font-size: initial;
}

.hr {
    size: 5px;
}

.tab-div {
    margin: 10px;
}