<div style="margin-top: 60px; margin-bottom: 60%">
    <div class="container-fluid">

        <div class="signUpLabel">
            <label class="col-form-label heiding-size-hl"> Organization Registration Form </label>
        </div>
        <hr>
        <form [formGroup]="organizationSetupAddForm">
            <div class="row tab-div">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="col-form-label heiding-size"> Organization Information </label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <label for="orgName" class="col-form-label pr-label">Organization Name<span class = "mandatory" >*</span></label>
                            <input class="form-control" type="text" value="" placeholder="First Name" id="orgName" formControlName="orgName">
                            <div *ngIf="organizationSetupAddForm.controls['orgName'].hasError('required') &&
                                    organizationSetupAddForm.controls['orgName'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <label for="panNumber" class="col-form-label pr-label">Pan NUmber<span class = "mandatory" >*</span></label>
                            <input class="form-control" type="text" value="" placeholder="Last Name" id="panNumber" formControlName="panNumber">
                            <div *ngIf="organizationSetupAddForm.controls['panNumber'].hasError('required') &&
                                    organizationSetupAddForm.controls['panNumber'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="orgType" class="col-form-label pr-label">Organization Type<span class = "mandatory " >*</span></label>

                            <select class="form-control-custom" formControlName="orgType">   
                                <option value = "">---Select State---</option>
                                <option value = "combo"> Combo </option>
                                <option value = "">---</option>
                            </select>
                            <div *ngIf="organizationSetupAddForm.controls['orgType'].hasError('required') &&
                                    organizationSetupAddForm.controls['orgType'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <label class="col-form-label heiding-size "> Address For Communication </label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="houseAdd" class="col-form-label pr-label ">House Address<span class = "mandatory " >*</span></label>

                            <input class="form-control " type="text " value=" " placeholder="Enter House Address " id="houseAdd" formControlName="houseAdd">
                            <div *ngIf="organizationSetupAddForm.controls['houseAdd'].hasError('required') &&
                                    organizationSetupAddForm.controls['houseAdd'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="buildingNumber" class="col-form-label pr-label ">Building Number<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value="" placeholder=" Enter Building Number" id="buildingNumber" formControlName="buildingNumber">
                            <div *ngIf="organizationSetupAddForm.controls['buildingNumber'].hasError('required') &&
                                    organizationSetupAddForm.controls['buildingNumber'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="strName" class="col-form-label pr-label ">Street Name<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Street Address" id="strName" formControlName="strName">
                            <div *ngIf="organizationSetupAddForm.controls['strName'].hasError('required') &&
                                    organizationSetupAddForm.controls['strName'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="locality" class="col-form-label pr-label ">Locality<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value="" placeholder="Enter Locality" id="locality" formControlName="locality">
                            <div *ngIf="organizationSetupAddForm.controls['locality'].hasError('required') &&
                                    organizationSetupAddForm.controls['locality'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="landmark" class="col-form-label pr-label ">Landmark<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Landmark" id="landmark" formControlName="landmark">
                            <div *ngIf="organizationSetupAddForm.controls['landmark'].hasError('required') &&
                                    organizationSetupAddForm.controls['landmark'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="selectState" class="col-form-label pr-label">Select State<span class = "mandatory " >*</span></label>

                            <select class="form-control-custom" formControlName="selectState">   
                            <option value = "" > ---Select State--- </option>
                            <option value = "combo " >   </option>
                            <option value = " " >  --- </option>
                        </select>
                            <div *ngIf="organizationSetupAddForm.controls['selectState'].hasError('required') &&
                                    organizationSetupAddForm.controls['selectState'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="selectDivision" class="col-form-label pr-label">Select Division<span class = "mandatory " >*</span></label>

                            <select class="form-control-custom" formControlName="selectDivision">   
                            <option value = "" > ---Select Division--- </option>
                            <option value = " " >   </option>
                            <option value = " " >  --- </option>
                        </select>
                            <div *ngIf="organizationSetupAddForm.controls['selectDivision'].hasError('required') &&
                                    organizationSetupAddForm.controls['selectDivision'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="selectDistrict" class="col-form-label pr-label">Select District<span class = "mandatory " >*</span></label>

                            <select class="form-control-custom" formControlName="selectDistrict">   
                            <option value = "" > ---Select District--- </option>
                            <option value = " " >   </option>
                            <option value = " " >  --- </option>
                        </select>
                            <div *ngIf="organizationSetupAddForm.controls['selectDistrict'].hasError('required') &&
                                    organizationSetupAddForm.controls['selectDistrict'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="selectTaluka" class="col-form-label pr-label">Select Taluka<span class = "mandatory " >*</span></label>

                            <select class="form-control-custom" formControlName="selectTaluka">   
                            <option value = "" > ---Select Taluka--- </option>
                            <option value = " " >   </option>
                            <option value = " " >  --- </option>
                        </select>
                            <div *ngIf="organizationSetupAddForm.controls['selectTaluka'].hasError('required') &&
                                    organizationSetupAddForm.controls['selectTaluka'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="selectVillage" class="col-form-label pr-label">Select Village<span class = "mandatory " >*</span></label>

                            <select class="form-control-custom" formControlName="selectVillage">   
                            <option value = "" > ---Select Village--- </option>
                            <option value = " " >   </option>
                            <option value = " " >  --- </option>
                        </select>
                            <div *ngIf="organizationSetupAddForm.controls['selectVillage'].hasError('required') &&
                                    organizationSetupAddForm.controls['selectVillage'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="pinCode" class="col-form-label pr-label "> Pincode<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Pincode " id="pinCode" formControlName="pinCode">
                            <div *ngIf="organizationSetupAddForm.controls['pinCode'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row ">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <label class="col-form-label heiding-size "> Contact Deatils </label>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="nameOfContactPer" class="col-form-label pr-label ">Name of the contact person<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Mobile Number " id="nameOfContactPer" formControlName="nameOfContactPer">
                            <div *ngIf="organizationSetupAddForm.controls['nameOfContactPer'].hasError('required') &&
                                    organizationSetupAddForm.controls['nameOfContactPer'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="officeNumber" class="col-form-label pr-label ">Office Number<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Office Number " id="officeNumber" formControlName="officeNumber">
                            <div *ngIf="organizationSetupAddForm.controls['officeNumber'].hasError('required') &&
                                    organizationSetupAddForm.controls['officeNumber'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="faxNumber" class="col-form-label pr-label ">Fax Number<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Fax Number " id="faxNumber" formControlName="faxNumber">
                            <div *ngIf="organizationSetupAddForm.controls['faxNumber'].hasError('required') &&
                                    organizationSetupAddForm.controls['faxNumber'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>

                        </div>
                    </div>
                    <div class="form-group row ">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="emailId" class="col-form-label pr-label ">Email ID<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Email ID " id="emailId" formControlName="emailId">
                            <div *ngIf="organizationSetupAddForm.controls['emailId'].hasError('required') &&
                                    organizationSetupAddForm.controls['emailId'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                            <label for="webSite" class="col-form-label pr-label "> Web Site URL<span class = "mandatory " >*</span></label>
                            <input class="form-control " type="text " value=" " placeholder="Enter Web Site" id="webSite" formControlName="webSite">
                            <div *ngIf="organizationSetupAddForm.controls['webSite'].hasError('required') &&
                                    organizationSetupAddForm.controls['webSite'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div id="logButton" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <button type="button" class="btn btn-success" [disabled]="!organizationSetupAddForm.valid">Submit</button>
            </div>
            <div id="logButton" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <button type="button " class="btn btn-danger" (onclick)="onDashboard()">Back</button>
            </div>
        </div>
    </div>
</div>