        /*-------------------Root container for the login page-----------------*/
        
        .formBackround {
            padding: 5%;
            margin-top: 188px;
            margin-right: 100px;
            float: right;
            padding: 10px 40px;
            width: 300px;
            width: 473px;
            height: 446px;
            border-radius: 10px;
            background-color: #2d3a4b;
            box-shadow: 0px 1px 23.2px 3.8px rgba(0, 0, 1, 0.33);
            /*border: solid 1px #f0f0f0;*/
        }
        
        a {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 3;
            text-align: left;
            color: #6b8faf;
            height: 16px;
            font-family: roboto-regular
        }
        
        .hr {
            background: #1d2836;
        }
        
        .loginButton {
            text-align: center;
            border-radius: 6px;
            margin-top: 10%;
            text-align: center;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            width: 100%;
            height: 57px;
            background-color: #ffd800;
            box-shadow: 0px 1px 23.2px 3.8px rgba(0, 0, 1, 0.54);
            background-color: #ffd800;
            box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
            cursor: pointer;
            text-align: -webkit-center;
            border: aliceblue;
        }
        
        .lg-Button {
            text-align: center;
            color: white;
            margin-top: 5%;
            text-align: center;
            cursor: pointer;
            width: 588px;
            height: 54px;
            border-radius: 6px;
            background-color: #1d2836;
            box-shadow: 0px 1px 23.2px 3.8px rgba(0, 0, 1, 0.33);
            border: solid 1px #c6c6c6;
        }
        
        .lg-update {
            background-color: whitesmoke;
            height: 50%;
            border-top: 2px solid #f1643f;
            margin-left: 28%;
            width: 55%;
        }
        
        .lg-text {
            margin-top: 3%;
        }
        
        .lg-row-Button {
            display: flex;
            padding-left: 30%;
        }
        
        #hubtownLogo {
            margin-left: 40%;
            margin-top: 15%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            /*width: 70%;*/
            padding: 5%;
            margin-right: 10%;
        }
        
        #lg-Logo {
            margin-left: 10%;
            margin-top: 15%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            /*width: 70%;*/
            padding: 5%;
            margin-right: 10%;
        }
        
        .Rerafi {
            width: 226px;
            height: 78px;
            object-fit: contain;
            margin-top: 50px;
            margin-left: 70px;
        }
        
        .div-title {
            height: 26px;
            font-family: Roboto-Medium;
            font-size: 24px;
            font-weight: 300;
            line-height: 2.84;
            text-align: center;
            color: #6b8faf;
        }
        
        .logo-tagline {
            /* width: 361px; */
            /* height: 80px; */
            font-family: Roboto-Regular !important;
            font-size: 34px;
            /* font-weight: 300; */
            line-height: 1.37;
            display: flow-root;
            text-align: center;
            color: #ffffff;
            margin-left: 0%;
        }
        
        .hd-3 {
            font-family: Roboto-Regular;
            font-size: 16px;
            padding-bottom: 11px;
            margin-bottom: 0px;
            color: rgba(98, 108, 117, 0.82) !important;
        }
        
        .hd-4 {
            font-family: Roboto-Medium;
            font-size: 18px;
            font-weight: 500;
            line-height: 3.11;
            color: #495f72 !important;
        }
        
        .lg-User {
            height: 54px;
            border-radius: 6px;
            background-color: #1d2836;
            margin-left: 5px;
        }
        
        .bg-clr {
            border-radius: 6px;
            background-color: #1d2836;
            color: #fafafa;
            font-family: Roboto-Regular;
            height: 54px;
            border-radius: 6px;
            font-size: 18px;
        }
        
        .footer-login {
            height: 56px;
            margin-top: 42%;
            opacity: 0.91;
            background-color: #000000;
        }
        
        .ab {
            /*width: 570px;*/
            height: 17px;
            font-family: Roboto-Regular;
            font-size: 17px;
            line-height: 3.51;
            text-align: left;
            color: #fafafa;
            padding-left: 117px;
        }
        
        .ab1 {
            /*width: 570px;*/
            height: 17px;
            font-family: Roboto-Regular;
            font-size: 17px;
            line-height: 3.51;
            text-align: left;
            display: -webkit-inline-box;
        }
        
        .ab2 {
            height: 17px;
            font-family: Roboto-Regular;
            font-size: 17px;
            line-height: 4.51;
            text-align: left;
        }
        
        .hrstyle {
            border-color: #1d2836;
            width: 120%;
            margin-left: -40px;
        }
        
        .loginText {
            width: 56px;
            height: 16px;
            font-family: Roboto-Regular;
            font-size: 20px;
            font-weight: 500;
            color: #1d2836;
        }
        
        .lg-Button:hover {
            color: yellow;
        }
        
        .ab:hover {
            color: yellow;
        }