<!--<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>-->
<div class="container-fluid loginPage" style="position:fixed;bottom:3px;left:0;right:0;">

    <div class="row Rerafi">
        <img class="img-responsive Rerafi" src="assets/images/rerafi@2x.png" alt="Rerafi logo">
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img id="hubtownLogo" class="img-responsive" src="assets/images/rera_logo.png" alt="Phoenix logo">

            <span class="logo-tagline">
                Maharashtra Real Estate<br /> Regulatory Authority
            </span>
            <div class="row lg-row-Button">
                <div class="col-md-12 col-sm-12 col-xm-12" style="display: inline-flex; margin-left: -16%;">
                    <button type="button" class="lg-Button" (click)="showUpdates()">Latest Update</button>
                    <button type="button" class="lg-Button">Guideline</button>
                    <button type="button" class="lg-Button">Supports</button>
                </div>
            </div>

            <div class="lg-update" *ngIf="isShow">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                        <img id="lg-Logo" class="img-responsive" src="assets/images/rera_logo.png" alt="Phoenix logo">
                    </div>
                    <p class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lg-text">
                        Notification of Rules of Maharashtra Real Estate Regulatory Authority ( MahaRERA), vide Notification No. __ dated ___ April 2017
                    </p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <img id="lg-Logo" class="img-responsive" src="assets/images/rera_logo.png" alt="Phoenix logo">
                    </div>
                    <p class="col-lg-9  col-md-9 col-sm-9 col-xs-9 lg-text">
                        Notification of Rules of Maharashtra Real Estate Regulatory Authority ( MahaRERA), vide Notification No. __ dated ___ April 2017
                    </p>
                </div>
            </div>
        </div>
        <form [formGroup]="loginForm">
            <div [hidden]=isLogin class="col-lg-6 col-md-6 col-sm-6 col-xs-12 formBackround">
                <div class="div-title">
                    Login to your account
                </div>
                <hr class="hrstyle">
                <div class="row lg-user">
                    <div style="margin-top: 5%;">
                        <label for="email" class="hd-3 col-form-label pr-label ">Email Id<span class = "mandatory " >*</span></label>
                        <input class="form-control bg-clr" type="text" value="" placeholder="Enter Email Id" formControlName="email" id="email">
                    </div>
                </div>
                <!--<div *ngIf="loginForm.controls['email'].hasError('required') &&
                                    loginForm.controls['email'].touched" class="alert alert-danger inputValidationErr ">
                    {{errorMessageService.getErrorMessages().mandatoryField}}
                </div>-->
                <div class="row lg-user">
                    <div style="margin-top: 5%">
                        <label for="password" class="hd-3 col-form-label pr-label ">Password<span class = "mandatory " >*</span></label>
                        <input class="form-control bg-clr" type="password" value="" placeholder="Password" formControlName="password" id="Password">
                    </div>
                </div>
                <!--<div *ngIf="loginForm.controls['password'].hasError('required') &&
                                    loginForm.controls['password'].touched" class="alert alert-danger inputValidationErr ">
                    {{errorMessageService.getErrorMessages().mandatoryField}}
                </div>-->

                <div>
                    <button type="button" class="loginButton" (click)="login()">
                    <div class="loginText">
                    Login
                    </div>
                </button>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <a (click)="toForgotPassword()" style=" float: left; "> Forgot Password</a>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div>
                            <a (click)="toSignup() " style="float: right ">New  Registration</a>
                        </div>
                    </div>
                </div>
            </div>


            <div [hidden]=isForgotPassword class="col-lg-6 col-md-6 col-sm-6 col-xs-12 formBackround">
                <div class="div-title ">
                    Forgot Password
                </div>
                <hr class="hrstyle ">
                <div class="row lg-user ">
                    <div style="margin-top: 7%; ">
                        <label for="verifyEmail " class="hd-3 col-form-label pr-label ">Enter Your registered Email Id <span class = "mandatory " >*</span></label>
                        <input class="form-control bg-clr " type="text " value=" " placeholder="Enter Email Id" formControlName="verifyEmail" id="verifyEmail ">
                    </div>
                </div>
                <!--<div *ngIf="loginForm.controls['verifyEmail'].hasError('required') &&
                                    loginForm.controls['verifyEmail'].touched" class="alert alert-danger inputValidationErr ">
                    {{errorMessageService.getErrorMessages().mandatoryField}}
                </div>-->

                <div style="margin-top:5%">
                    <button type="button " class="loginButton " (click)="forgotPassword() ">
                    <div class="loginText ">
                    Submit
                    </div>
                </button>
                </div>
                <div class="row " style="margin-top:5%">
                    <div class="col-lg-6">
                        <div>
                            <a (click)="toLogin()" style=" float: left; "> Login</a>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div>
                            <a (click)="toSignup() " style="float: right ">New  Registration</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="footer-login ">
            <div class="row ">
                <div class="col-lg-2 ab ">About US</div>
                <div class="col-lg-2 ab ">
                    Privacy
                </div>
                <div class="col-lg-2 ab ">Terms&Conditations</div>
                <div class="col-lg-2 ab ">
                    FAQ
                </div>
                <div class="col-lg-2 " style="float: right; display: -webkit-inline-box; ">
                    <div class="ab1 ">Powered by
                        <div style="color: white; ">PowerSoft</div>
                    </div>

                </div>
            </div>
        </div>
    </div>