<!--<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>-->
<div class="container-fluid loginPage" id="loginRow">




    <div class=" col-lg-12">
        <div id="formBackround">
            <div class="su-new">
                <h3>Create New Account</h3>
            </div>
            <div>
                <div>

                    <form [formGroup]="signupForm">
                        <div class="row">
                            <div class="row lg-user col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="Company Name" id="companyName" formControlName="companyName">
                            </div>
                            <div *ngIf="signupForm.controls['companyName'].hasError('required') &&
                                    signupForm.controls['companyName'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                            <div class="row lg-user1 col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="Company Registration Number" id="companyRegNumber" formControlName="companyRegNumber">
                            </div>
                            <div *ngIf="signupForm.controls['companyRegNumber'].hasError('required') &&
                                    signupForm.controls['companyRegNumber'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="row lg-user col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="User Name" id="userName" formControlName="userName">
                            </div>
                            <div *ngIf="signupForm.controls['userName'].hasError('required') &&
                                    signupForm.controls['userName'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                            <div class="row lg-user1 col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="Password" id="password" formControlName="password">
                            </div>
                            <div *ngIf="signupForm.controls['password'].hasError('required') &&
                                    signupForm.controls['password'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="row lg-user col-lg-6">
                                <input class="form-control" type="Password" value="" placeholder="Confirm Password" id="conPassword" formControlName="conPassword">
                            </div>

                            <div *ngIf="signupForm.controls['conPassword'].hasError('required') &&
                                    signupForm.controls['conPassword'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                            <div class="row lg-user1 col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="Address" id="address" formControlName="address">
                            </div>

                            <div *ngIf="signupForm.controls['address'].hasError('required') &&
                                    signupForm.controls['address'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="row lg-user col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="Mobile Number" id="phoneNumber" formControlName="phoneNumber">
                            </div>
                            <div *ngIf="signupForm.controls['phoneNumber'].hasError('required') &&
                                    signupForm.controls['phoneNumber'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                            <div class="row lg-user1 col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="E-Mail ID" id="emailId" formControlName="emailId">
                            </div>
                            <div *ngIf="signupForm.controls['emailId'].hasError('required') &&
                                    signupForm.controls['emailId'].touched" class="alert alert-danger inputValidationErr ">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </form>
                    <div class="logButton row">
                        <div class="col-lg-6">
                            <button type="button" class="loginButton" (click)="registerCompany()">Create User</button>
                        </div>
                        <div class="col-lg-6">
                            <button (click)="goToLogin()" type="button" class="loginButton ">Go To Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>