/*-------------------Root container for the login page-----------------*/

#loginComponentContainer {
    padding-top: 10%;
}

#forgotLink {
    text-align: right;
    color: #606060;
}

#formBackround {
    background-color: #606062;
    padding: 5%;
    height: 100%;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
    border: 1px solid #a1a1a1;
    padding: 10px 40px;
    width: 300px;
    background: #fff;
    /*padding: 20px;*/
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    text-align: left;
    color: #adadad;
}

.loginButton {
    background: gray;
    border: none;
    text-align: center;
    border-radius: 6px;
    color: white;
    margin-top: 15%;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    width: 40%;
    height: 30px;
    background-color: gray;
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
    cursor: pointer;
}

.logButton {
    text-align: center;
}

#SignUpButton {
    background: #f1643f;
    border: none;
    text-align: center;
    border-radius: 6px;
    color: white;
    margin-top: 5%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    /*width: 100%;*/
    /*height: 40px;*/
    background-color: #f1643f;
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.testLabel {
    font-size: 10px;
}

.lg-Button {
    background: #f1643f;
    border: none;
    text-align: center;
    /*border-radius: 6px;*/
    color: white;
    margin-top: 5%;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    width: 20%;
    height: 30px;
    margin-right: 1%;
    /*background-color: gray;*/
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
    cursor: pointer;
}

.lg-update {
    background-color: whitesmoke;
    height: 50%;
    border-top: 2px solid #f1643f;
    margin-left: 28%;
    width: 55%;
}

.lg-text {
    margin-top: 3%;
}

.lg-row-Button {
    display: flex;
    padding-left: 30%;
}

#phoenixLogo {
    margin-left: 40%;
    margin-top: 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*width: 70%;*/
    padding: 5%;
    margin-right: 10%;
}

#lg-Logo {
    margin-left: 10%;
    margin-top: 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*width: 70%;*/
    padding: 5%;
    margin-right: 10%;
}

.signup-radio {
    width: 30%;
}

#formBackround {
    background-color: fff;
    /*border-top-color: orangered;*/
    /*padding: 5%;
    height: 100%;
    
    margin: auto;*/
    width: 50%;
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
    border-top: 3px solid #f1643f;
}

md-input-container label {
    color: red;
}


/*------------------css and animation for the input fields in the form-------------------------------*/

input {
    margin: auto;
    width: 100%;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: left;
    margin-top: 8%;
    display: block;
    border: none;
    padding: 10px;
    border-bottom: solid 1px #f1643f;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f1643f 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, #f1643f 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #f1643f;
}

.lg-user {
    display: flex;
    align-items: baseline;
    padding: 0;
    margin-left: 1px;
    padding-right: 26px;
}

.radioText {
    padding: 0px;
}

.lg-user1 {
    display: flex;
    align-items: baseline;
    padding: 0;
    margin-left: 1px;
    padding-left: 26px;
}

.lg-account {
    /*font-size: 1.5em;
    margin: 0 0 25px!important;
    padding: 0px 0 15px!important;
    font-weight: bold;
    color: #444;
    border-bottom: 1px dashed #d8d4d3;*/
    margin-bottom: 10px;
    padding: 5px 15px;
    overflow: hidden;
    border: 1px dashed #f7e1b6;
    background: #fbf9f4;
}

.su-new {
    border-bottom: 1px dashed #d8d4d3;
}

#loginText {
    text-align: center;
    margin: auto;
    font-size: x-large;
    color: white;
}

input:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

input::-webkit-input-placeholder {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder {
    color: #f5f5f5;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: none !important;
    /*background-color: rgb(250, 255, 189);*/
    background-image: none;
    color: #f1643f;
    /*color: rgb(0, 0, 0);*/
}

.fp-submit {
    padding: 10px;
    margin-top: 10px;
}

.fg-title {
    display: flex;
    justify-content: space-between;
}

.fg-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.fg-btn {
    background-color: #f1643f;
    color: white;
}

.action-bar {
    background-color: #606062;
    min-height: 45px;
    margin: -24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.fg-color {
    color: #f1643f;
}

.icon-white {
    color: #f1643f;
}