<div style="height: auto">
    <div style="margin-top: 60px; height: auto; margin-bottom: 60%">
        <div class="container-fluid">
            <div>
                <div class="row hd-title">
                    <div class="col-md-6">
                        <div class="row page-breadcrumb">
                            <div class="page-bar-pos">
                                <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                                <span><a href="#"> User List</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gridhead1 row">
                    User List
                </div>
                <form [formGroup]="addUser">
                    <div class="row">

                        <div class="row searchDesign">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="selectProject" class="col-form-label pr-label">Project Name<span class = "mandatory " >*</span></label>
                                <select (change)="projectSelectionIndividualList($event.target.value)" class="form-control-custom" style="height: 5vh;" formControlName="selectProject">   
                                        <option value = "" style="font-size: large;"> ---Select Project--- </option>
                                        <option *ngFor= "let project of projects" value = {{project.projectName}} >   
                                            {{project.projectName}}
                                        </option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control cs-style" style="margin-top: 27px;" type="text" value="" placeholder="Search" id="searchField" formControlName="searchField">
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 btn">
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 btn">
                                <span mdTooltip="Add">
                        <button type="button" class="btn btn-success btn-circle btn-xl float" (click)="addFormClick()"><i class="glyphicon glyphicon-plus"></i></button>
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-top: 3vh; width: 100% ">
                        <div class="">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="10%" class="th-bg-color">User Id</th>
                                        <th width="12%" class="th-bg-color">First Name</th>
                                        <th width="13%" class="th-bg-color">Last Name</th>
                                        <th width="10%" class="th-bg-color">Department</th>
                                        <th width="10%" class="th-bg-color">Designation</th>
                                        <th width="10%" class="th-bg-color">Mobile Number</th>
                                        <th width="15%" class="th-bg-color">Email</th>
                                        <th width="10%" class="th-bg-color">DOB</th>
                                        <th width="10%" class="th-bg-color">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let userDetail of userDetailArr">
                                        <td width="10%" class="td-text">{{userDetail.user_id}}</td>
                                        <td width="12%" class="td-text">{{userDetail.first_name}}</td>
                                        <td width="13%" class="td-text">{{userDetail.last_name}}</td>
                                        <td width="10%" class="td-text">{{userDetail.department_name}}</td>
                                        <td width="10%" class="td-text">{{userDetail.designation}}</td>
                                        <td width="10%" class="td-text">{{userDetail.phone_number}}</td>
                                        <td width="15%" class="td-text">{{userDetail.email_id}}</td>
                                        <td width="10%" class="td-text">{{userDetail.dob}}</td>
                                        <td width="10%" class="td-text">
                                            <span mdTooltip="View"><a (click)="viewUserDetail(userDetail)" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-edit tooltips icon-size"></a></span>

                                            <span mdTooltip="Update"><a (click)="updateUserDetail(userDetail)" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 btn-pos">
                                <div class="btn-2">
                                    <button type="button" class="btn button btn-2" (click)="prevClick()">Prev</button>
                                </div>
                                <div>
                                    <button type="button" class="btn button btn-3" (click)="nextForm()">Next</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!--<div style="height: auto">
    <div style="margin-top: 60px; height: auto; margin-bottom: 5%">
        <div class="container-fluid">
            <div>
                <div class="row hd-title">
                    <div class="gridhead col-md-6">
                        User List
                    </div>
                    <div class="col-md-6">
                        <div class="row page-breadcrumb">
                            <div class="page-bar-pos">
                                <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                                <span><a href="#">User List</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="userListForm">
                    <div class="row">

                        <div class="row searchDesign">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="selectProject" class="col-form-label pr-label">Project Name<span class = "mandatory " >*</span></label>
                                <select class="form-control-custom" style="height: 5vh;" formControlName="selectProject">   
                                        <option value = "" style="font-size: large;"> ---Select Project--- </option>
                                        <option value = " " >   </option>
                                        <option value = " " >   </option>
                                    </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control cs-style" style="margin-top: 27px;" type="text" value="" placeholder="Search" id="searchField" formControlName="searchField">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 btn">
                                <button type="button" class="btn btn-warning cs-style dp-btn" style="margin-top: 27px; padding: 6px" (click)="addFormClick()">Add User</button>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-top: 3vh; width: 100% ">
                        <div class="">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="th-bg-color">#</th>
                                        <th class="th-bg-color">User Name</th>
                                        <th class="th-bg-color">Buildings Name</th>
                                        <th class="th-bg-color">State</th>
                                        <th class="th-bg-color">City</th>
                                        <th class="th-bg-color">Mobie Number</th>
                                        <th class="th-bg-color">Email id</th>
                                        <th class="th-bg-color">Action</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">1</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">2</td>
                                            <td class="td-text">Almustafa</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9852634125</td>
                                            <td class="td-text">Almustafa@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">3</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">4</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">5</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">6</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">7</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">8</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">9</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="td-text">10</td>
                                            <td class="td-text">Sumit</td>
                                            <td class="td-text">Lodha</td>
                                            <td class="td-text">Maharashtra</td>
                                            <td class="td-text">Nashik</td>
                                            <td class="td-text">9404848639</td>
                                            <td class="td-text">sumitghotekar4@gmail.com</td>
                                            <td class="td-text">
                                                <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                                <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                                <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                            </td>
                                        </tr>

                                    </tbody>

                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 btn-pos">
                                <div class="btn-2">
                                    <button type="button" class="btn button btn-2" (click)="prevClick()">Prev</button>
                                </div>
                                <div>
                                    <button type="button" class="btn button btn-3" (click)="nextForm()">Next</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>-->