<div style="margin-top: 60px; margin-bottom: 10%">
    <div class="container-fluid">
        <div class="row hd-title">
            <div class="gridhead col-md-6">
                User Registration Form
            </div>
            <div class="col-md-6">
                <div class="row page-breadcrumb">
                    <div class="page-bar-pos">
                        <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                        <span><a href="#">User List</a>
                        <i class="fa fa-angle-right"></i></span>
                        <span><a href="#">User Registration Form</a></span>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="userRegistrationForm">
            <div class="row tab-div">
                <div class="col-lg-12">
                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="hd-2 col-form-label heiding-size"> Personal Details </label>
                        </div>
                        <div class="div1">
                            <div class="form-group row margi">
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="firstName" class="col-form-label pr-label">First Name<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Enter FirstName" id="firstName" formControlName="firstName">
                                    <div *ngIf="userRegistrationForm.controls['firstName'].hasError('required') &&
                                    userRegistrationForm.controls['firstName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="lastName" class="col-form-label pr-label">Last Name<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Enter Lastname" id="lastName" formControlName="lastName">
                                    <div *ngIf="userRegistrationForm.controls['lastName'].hasError('required') &&
                                    userRegistrationForm.controls['lastName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="dob" class="col-form-label pr-label">DOB<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="date" value="" placeholder=" Enter DOB" id="dob" formControlName="dob">
                                    <div *ngIf="userRegistrationForm.controls['dob'].hasError('required') &&
                                    userRegistrationForm.controls['dob'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row margi">
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="panNumber" class="col-form-label pr-label">Pan Number<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Enter Pan Number" id="panNumber" formControlName="panNumber">
                                    <div *ngIf="userRegistrationForm.controls['panNumber'].hasError('required') &&
                                    userRegistrationForm.controls['panNumber'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="userName" class="col-form-label pr-label">User Name<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Enter UserName" id="userName" formControlName="userName">
                                    <div *ngIf="userRegistrationForm.controls['userName'].hasError('required') &&
                                    userRegistrationForm.controls['userName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="password" class="col-form-label pr-label">Password<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="password" value="" placeholder=" Enter Password" id="password" formControlName="password">
                                    <div *ngIf="userRegistrationForm.controls['password'].hasError('required') &&
                                    userRegistrationForm.controls['password'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size "> Address For Communication </label>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->

                        <div class="div1">
                            <div class="form-group row margi">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="houseAdd" class="hd-3 col-form-label pr-label ">House Address<span class = "mandatory " >*</span></label>

                                    <input class="hd-4 form-control lab" type="text " value=" " placeholder="Enter House Address " id="houseAdd" formControlName="houseAdd">
                                    <div *ngIf="userRegistrationForm.controls['houseAdd'].hasError('required') &&
                                    userRegistrationForm.controls['houseAdd'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="buildingNumber" class="hd-3 col-form-label pr-label ">Building Number<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control lab" type="text " value="" placeholder=" Enter Building Number" id="buildingNumber" formControlName="buildingNumber">
                                    <div *ngIf="userRegistrationForm.controls['buildingNumber'].hasError('required') &&
                                    userRegistrationForm.controls['buildingNumber'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="strName" class="hd-3col-form-label pr-label ">Street Name<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control lab" type="text " value=" " placeholder="Enter Street Address" id="strName" formControlName="strName">
                                    <div *ngIf="userRegistrationForm.controls['strName'].hasError('required') &&
                                    userRegistrationForm.controls['strName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ">

                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="locality" class="hd-3 col-form-label pr-label ">Locality<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control lab" type="text " value="" placeholder="Enter Locality" id="locality" formControlName="locality">
                                    <div *ngIf="userRegistrationForm.controls['locality'].hasError('required') &&
                                    userRegistrationForm.controls['locality'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="landmark" class="hd-3 col-form-label pr-label ">Landmark<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control lab" type="text " value=" " placeholder="Enter Landmark" id="landmark" formControlName="landmark">
                                    <div *ngIf="userRegistrationForm.controls['landmark'].hasError('required') &&
                                    userRegistrationForm.controls['landmark'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="selectState" class="hd-3 col-form-label pr-label">Select State<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="selectState">   
                            <option value = "" > ---Select State--- </option>
                            <option value = "Maharashtra" > Maharashtra  </option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['selectState'].hasError('required') &&
                                    userRegistrationForm.controls['selectState'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="selectDivision" class="hd-3 col-form-label pr-label">Select Division<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="selectDivision">   
                            <option value = "" > ---Select Division--- </option>
                            <option value = "Mumbai" >  Mumbai </option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['selectDivision'].hasError('required') &&
                                    userRegistrationForm.controls['selectDivision'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="selectDistrict" class="hd-3 col-form-label pr-label">Select District<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="selectDistrict">   
                            <option value = "" > ---Select District--- </option>
                            <option value = "Thane" > Thane </option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['selectDistrict'].hasError('required') &&
                                    userRegistrationForm.controls['selectDistrict'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="selectTaluka" class="hd-3 col-form-label pr-label">Select Taluka<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="selectTaluka">   
                            <option value = "" > ---Select Taluka--- </option>
                            <option value = "Bhayinder" > Bhayinder  </option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['selectTaluka'].hasError('required') &&
                                    userRegistrationForm.controls['selectTaluka'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="selectVillage" class="hd-3 col-form-label pr-label">Select Village<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom" formControlName="selectVillage">   
                            <option value = "" class="lab1"> ---Select Village--- </option>
                            <option value = "Bhayinder " > Bhayinder</option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['selectVillage'].hasError('required') &&
                                    userRegistrationForm.controls['selectVillage'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="pinCode" class="hd-3 col-form-label pr-label "> Pincode<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control lab" type="text " value=" " placeholder="Enter Pincode " id="pinCode" formControlName="pinCode">
                                    <div *ngIf="userRegistrationForm.controls['pinCode'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size "> Contact Deatils </label>
                        </div>

                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->
                        <div class="div1">
                            <div class="form-group row margi">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="mobileNumber" class="hd-3 col-form-label pr-label ">Mobile Number<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Mobile Number " id="mobileNumber" formControlName="mobileNumber">
                                    <div *ngIf="userRegistrationForm.controls['mobileNumber'].hasError('required') &&
                                    userRegistrationForm.controls['mobileNumber'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="officeNumber" class="hd-3 col-form-label pr-label ">Office Number<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Office Number " id="officeNumber" formControlName="officeNumber">
                                    <div *ngIf="userRegistrationForm.controls['officeNumber'].hasError('required') &&
                                    userRegistrationForm.controls['officeNumber'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="faxNumber" class="hd-3 col-form-label pr-label ">Fax Number<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Fax Number " id="faxNumber" formControlName="faxNumber">
                                    <div *ngIf="userRegistrationForm.controls['faxNumber'].hasError('required') &&
                                    userRegistrationForm.controls['faxNumber'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row ">

                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="emailId" class="hd-3 col-form-label pr-label ">Email ID<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Email ID " id="emailId" formControlName="emailId">
                                    <div *ngIf="userRegistrationForm.controls['emailId'].hasError('required') &&
                                    userRegistrationForm.controls['emailId'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="hd-2 col-form-label heiding-size"> Other Details </label>
                        </div>

                        <div class="div1">
                            <div class="form-group row margi">
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="department" class="hd-3 col-form-label pr-label">Department Name<span class = "mandatory" >*</span></label>
                                    <select class="hd-4 form-control-custom" formControlName="department">   
                            <option value = "" class="lab1"> ---Select Department--- </option>
                            <option value = "Finance" >  Finance </option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['department'].hasError('required') &&
                                    userRegistrationForm.controls['department'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="designation" class="hd-3 col-form-label pr-label">Designation<span class = "mandatory" >*</span></label>
                                    <select class="hd-4 form-control-custom" formControlName="designation">   
                            <option value = "" class="lab1"> ---Select Designation--- </option>
                            <option value = "Accountant" > Accountant  </option>
                            <option value = " " >  --- </option>
                        </select>
                                    <div *ngIf="userRegistrationForm.controls['designation'].hasError('required') &&
                                    userRegistrationForm.controls['designation'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="projects" class="hd-3 col-form-label pr-label">Allocated Projects<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Select Projects" id="projects" formControlName="projects">
                                    <div *ngIf="userRegistrationForm.controls['projects'].hasError('required') &&
                                    userRegistrationForm.controls['projects'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row margi">
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="reportingTo" class="hd-3 col-form-label pr-label">Reporting to<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Enter Reporting Person Name" id="reportingTo" formControlName="reportingTo">
                                    <div *ngIf="userRegistrationForm.controls['reportingTo'].hasError('required') &&
                                    userRegistrationForm.controls['reportingTo'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="role" class="hd-3 col-form-label pr-label">Role<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="text" value="" placeholder=" Enter Role" id="role" formControlName="role">
                                    <div *ngIf="userRegistrationForm.controls['role'].hasError('required') &&
                                    userRegistrationForm.controls['role'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="row" style="margin-left: 20px; margin-top:30px;">
            <div class="">
                <button type="button" class="btn button" (click)="addUser()">Save</button>
                <button type="button " class="btn button" (click)="onDashboard()">Cancel</button>
            </div>
        </div>
    </div>