<div style="margin-top: 60px; margin-bottom: 10%">
    <div class="container-fluid">
        <div>
            <div class="row hd-title">
                <div class="col-md-6">
                    <div class="row page-breadcrumb">
                        <div class="page-bar-pos">
                            <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                            <span><a href="#">Individual User List</a>
                        <i class="fa fa-angle-right"></i></span>
                            <span><a href="#">User Details</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gridhead row">
                User Details
            </div>
            <br>
            <form [formGroup]="userViewForm">
                <fieldset disabled>
                    <div class="row tab-div">
                        <div class="col-lg-12">
                            <div class="shad">
                                <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="hd-2 col-form-label heiding-size"> Personal Information </label>
                                </div>
                                <div class="div1">

                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="firstName" class="hd-3 col-form-label pr-label">First Name<span class = "mandatory" >*</span></label>
                                            <input class="hd-4 form-control" type="text" value="" placeholder="First Name" id="projectName" formControlName="firstName">
                                            <div *ngIf="userViewForm.controls['firstName'].hasError('required') &&
                                                                userViewForm.controls['firstName'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="lastName" class="hd-3 col-form-label pr-label">Last Name<span class = "mandatory" >*</span></label>
                                            <input class="hd-4  form-control" type="text" value="" placeholder="Last Name" id="lastName" formControlName="lastName">
                                            <div *ngIf="userViewForm.controls['lastName'].hasError('required') &&
                                                                userViewForm.controls['lastName'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="panNumber" class="hd-3 col-form-label pr-label">Pan Card Number<span class = "mandatory" >*</span></label>
                                            <input class="hd-4 form-control" type="text" value="" placeholder="Pan Card Name" id="panNumber" formControlName="panNumber">
                                            <div *ngIf="userViewForm.controls['panNumber'].hasError('required') &&
                                                                userViewForm.controls['panNumber'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="shad">
                                <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label class="hd-2 col-form-label heiding-size">Official Details </label>
                                </div>
                                <div class="div1">

                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="department" class="hd-3 col-form-label pr-label">Department<span class = "mandatory" >*</span></label>
                                            <input class="hd-4 form-control" type="text" value="" placeholder="Departmrnt Name" id="department" formControlName="department">
                                            <div *ngIf="userViewForm.controls['department'].hasError('required') &&
                                                                userViewForm.controls['department'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="designation" class="hd-3 col-form-label pr-label">Designation<span class = "mandatory" >*</span></label>
                                            <input class="hd-4  form-control" type="text" value="" placeholder="Designation" id="designation" formControlName="designation">
                                            <div *ngIf="userViewForm.controls['designation'].hasError('required') &&
                                                                userViewForm.controls['designation'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="role" class="hd-3 col-form-label pr-label">Role<span class = "mandatory" >*</span></label>
                                            <input class="hd-4 form-control" type="text" value="" placeholder="Role" id="role" formControlName="role">
                                            <div *ngIf="userViewForm.controls['role'].hasError('required') &&
                                                                userViewForm.controls['role'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <label for="reportingTo" class="hd-3 col-form-label pr-label">Reporting To<span class = "mandatory" >*</span></label>
                                            <input class="hd-4 form-control" type="text" value="" placeholder="Reporting To" id="reportingTo" formControlName="reportingTo">
                                            <div *ngIf="userViewForm.controls['reportingTo'].hasError('required') &&
                                                                userViewForm.controls['reportingTo'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>


                            <div class="shad">
                                <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <label class="hd-2 col-form-label heiding-size "> Address For Communication </label>
                                </div>
                                <div class="div1">

                                    <div class="form-group row ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="houseAdd" class="hd-3 col-form-label pr-label ">House Address<span class = "mandatory " >*</span></label>

                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter House Address " id="houseAdd" formControlName="houseAdd">
                                            <div *ngIf="userViewForm.controls['houseAdd'].hasError('required') &&
                                    userViewForm.controls['houseAdd'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="buildingNumber" class="hd-3 col-form-label pr-label ">Building Number<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value="" placeholder=" Enter Building Number" id="buildingNumber" formControlName="buildingNumber">
                                            <div *ngIf="userViewForm.controls['buildingNumber'].hasError('required') &&
                                    userViewForm.controls['buildingNumber'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="strName" class="hd-3 col-form-label pr-label ">Street Name<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Street Address" id="strName" formControlName="strName">
                                            <div *ngIf="userViewForm.controls['strName'].hasError('required') &&
                                    userViewForm.controls['strName'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row ">

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="locality" class="hd-3 col-form-label pr-label ">Locality<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value="" placeholder="Enter Locality" id="locality" formControlName="locality">
                                            <div *ngIf="userViewForm.controls['locality'].hasError('required') &&
                                    userViewForm.controls['locality'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="landmark" class="hd-3 col-form-label pr-label ">Landmark<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Landmark" id="landmark" formControlName="landmark">
                                            <div *ngIf="userViewForm.controls['landmark'].hasError('required') &&
                                    userViewForm.controls['landmark'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="selectState" class="hd-3 col-form-label pr-label"> State<span class = "mandatory " >*</span></label>

                                            <input class="hd-4 form-control " type="text " value=" " placeholder=" state" id="selectState" formControlName="selectState">

                                            <div *ngIf="userViewForm.controls['selectState'].hasError('required') &&
                                    userViewForm.controls['selectState'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="selectDivision" class="hd-3 col-form-label pr-label">Select Division<span class = "mandatory " >*</span></label>

                                            <input class="hd-4 form-control " type="text " value=" " placeholder=" Landmark" id="selectState" formControlName="selectState">

                                            <div *ngIf="userViewForm.controls['selectDivision'].hasError('required') &&
                                    userViewForm.controls['selectDivision'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="selectDistrict" class="hd-3 col-form-label pr-label">District<span class = "mandatory " >*</span></label>

                                            <<input class="hd-4 form-control " type="text " value=" " placeholder=" District" id="selectDistrict" formControlName="selectDistrict">
                                                <div *ngIf="userViewForm.controls['selectDistrict'].hasError('required') &&
                                    userViewForm.controls['selectDistrict'].touched" class="alert alert-danger inputValidationErr ">
                                                    {{errorMessageService.getErrorMessages().mandatoryField}}
                                                </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="selectTaluka" class="hd-3 col-form-label pr-label">Taluka<span class = "mandatory " >*</span></label>

                                            <input class="hd-4 form-control " type="text " value=" " placeholder=" taluka" id="selectTaluka" formControlName="selectTaluka">
                                            <div *ngIf="userViewForm.controls['selectTaluka'].hasError('required') &&
                                    userViewForm.controls['selectTaluka'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="selectVillage" class="hd-3 col-form-label pr-label">Village<span class = "mandatory " >*</span></label>

                                            <input class="hd-4 form-control " type="text " value=" " placeholder="village" id="selectVillage" formControlName="selectVillage">
                                            <div *ngIf="userViewForm.controls['selectVillage'].hasError('required') &&
                                    userViewForm.controls['selectVillage'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="pinCode" class="hd-3 col-form-label pr-label "> Pincode<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control" type="text " value=" " placeholder="Pincode " id="pinCode" formControlName="pinCode">
                                            <div *ngIf="userViewForm.controls['pinCode'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="shad">
                                <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <label class="hd-2 col-form-label heiding-size "> Contact Deatils </label>
                                </div>
                                <div class="div1">
                                    <div class="form-group row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="mobileNumber" class="hd-3 col-form-label pr-label ">Mobile Number<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Mobile Number " id="mobileNumber" formControlName="mobileNumber">
                                            <div *ngIf="userViewForm.controls['mobileNumber'].hasError('required') &&
                                    userViewForm.controls['mobileNumber'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="officeNumber" class="hd-3 col-form-label pr-label ">Office Number<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Office Number " id="officeNumber" formControlName="officeNumber">
                                            <div *ngIf="userViewForm.controls['officeNumber'].hasError('required') &&
                                    userViewForm.controls['officeNumber'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="faxNumber" class="hd-3 col-form-label pr-label ">Fax Number<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Fax Number " id="faxNumber" formControlName="faxNumber">
                                            <div *ngIf="userViewForm.controls['faxNumber'].hasError('required') &&
                                    userViewForm.controls['faxNumber'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row ">

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                            <label for="emailId" class="hd-3 col-form-label pr-label ">Email ID<span class = "mandatory " >*</span></label>
                                            <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Email ID " id="emailId" formControlName="emailId">
                                            <div *ngIf="userViewForm.controls['emailId'].hasError('required') &&
                                    userViewForm.controls['emailId'].touched" class="alert alert-danger inputValidationErr ">
                                                {{errorMessageService.getErrorMessages().mandatoryField}}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>