.padd {
    padding: 0 !important;
    overflow-x: hidden;
}

span {
    color: #606062;
    padding-right: 5.5%;
}

#appTitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    text-align: center;
    margin-top: 3vh;
}

#userTitle {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: right;
    margin-top: 2vh;
}

#logoutBt {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    float: right;
    cursor: pointer;
}

#headerUserRoleName {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    float: right;
    /*color: #6d6d6d !important;*/
}

#accessMsdId {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    background-color: #FFE5C4;
    border-color: #ebccd1;
    text-align: center;
    color: #f58634;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    height: 50px;
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
}

#logoutBtMargin {
    margin-top: 20px;
}