<!--Author: Priteshkumar Kanaujiya
Description:UI  which will be available in all the pages
Date Modified:
-->

<div class="padd container-fluid" id="adminWebAppContainer">
    <div id="">
        <p id="accessMsdId" *ngIf="isShowAccessMessage">
            {{accessErrorMsg}}
        </p>
        <router-outlet></router-outlet>

    </div>


</div>