<div style="margin-top: 60px; margin-bottom: 10%">
    <div class="container-fluid">

        <div class="">
            <label class="mainhead col-form-label heiding-size-hl"> Application Configuration</label>
        </div>

        <form [formGroup]="appConfig">
            <div class="row tab-div">
                <div class="col-lg-12">
                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="hd-2 col-form-label heiding-size"> Background Track Configuration </label>
                        </div>

                        <div class="div1">
                            <div class="form-group row margi">
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="timeInterval" class="col-form-label pr-label">Time Interval<span class = "mandatory" >*</span></label>
                                    <select class="hd-4 form-control-custom lab" formControlName="timeInterval">   
                            <option value = "" > ---Select Interval--- </option>
                            <option value = "" > 5Min </option>
                            <option value = "" >  10Min </option>
                        </select>
                                    <div *ngIf="appConfig.controls['timeInterval'].hasError('required') &&
                                    appConfig.controls['timeInterval'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="startTime" class="col-form-label pr-label">Start Time<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="Time" value="" placeholder=" " id="startTime" formControlName="startTime">
                                    <div *ngIf="appConfig.controls['startTime'].hasError('required') &&
                                    appConfig.controls['startTime'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="endTime" class="col-form-label pr-label">End Time<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="Time" value="" placeholder="" id="endTime" formControlName="endTime">
                                    <div *ngIf="appConfig.controls['endTime'].hasError('required') &&
                                    appConfig.controls['endTime'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>



                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size "> Check-In Location Configuration</label>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->

                        <div class="div1">
                           
                            <div class="form-group row ">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="loc1" class="hd-3 col-form-label pr-label">Location 1<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="loc1">   
                            <option value = "" > ---Select Location--- </option>
                            <option value = " " >Thane</option>
                            <option value = " " > Dadar </option>
                            <option value = " " > Borivali </option>
                        </select>
                                    <div *ngIf="appConfig.controls['loc1'].hasError('required') &&
                                    appConfig.controls['loc1'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="loc2" class="hd-3 col-form-label pr-label">Location 2<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="loc2">   
                            <option value = "" > ---Select Location--- </option>
                            <option value = " " >Thane</option>
                            <option value = " " > Dadar </option>
                            <option value = " " > Borivali </option>
                        </select>
                                    <div *ngIf="appConfig.controls['loc2'].hasError('required') &&
                                    appConfig.controls['loc2'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="loc3" class="hd-3 col-form-label pr-label">Location 3<span class = "mandatory " >*</span></label>

                                    <select class="hd-4 form-control-custom lab" formControlName="loc3">   
                            <option value = "" > ---Select Location--- </option>
                            <option value = " " >Thane</option>
                            <option value = " " > Dadar </option>
                            <option value = " " > Borivali </option>
                        </select>
                                    <div *ngIf="appConfig.controls['loc3'].hasError('required') &&
                                    appConfig.controls['loc3'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <hr>

                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size "> GPS Proximity Configuration </label>
                        </div>

                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->
                        <div class="div1">
                            <div class="form-group row margi">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="gpsRadius" class="hd-3 col-form-label pr-label ">GPS Radius(in Meters)<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="Number " value=" " placeholder="" id="gpsRadius" formControlName="gpsRadius">
                                    <div *ngIf="appConfig.controls['gpsRadius'].hasError('required') &&
                                    appConfig.controls['gpsRadius'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                
                            
                            </div>
                            
                        </div>
                    </div>
                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="hd-2 col-form-label heiding-size"> Mailing Setup </label>
                        </div>

                        <div class="div1">
                            <div class="form-group row margi">
                           <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="designations" class="hd-3 col-form-label pr-label ">Designations<span class = "mandatory " >*</span></label>
                                    <select class="hd-4 form-control-custom lab" formControlName="designations">   
                            <option value = "" > ---Select Designations </option>
                            <option value = " " > Manager </option>
                            <option value = " " > Project Director </option>
                            <option value = " " > Project Supervisor </option>
                        </select>
                                    <div *ngIf="appConfig.controls['designations'].hasError('required') &&
                                    appConfig.controls['designations'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="sentTime" class="hd-3 col-form-label pr-label ">Time<span class = "mandatory " >*</span></label>
                           <input class="hd-4 form-control " type="Time" value=" " placeholder="" id="sentTime" formControlName="sentTime">
                                    <div *ngIf="appConfig.controls['sentTime'].hasError('required') &&
                                    appConfig.controls['sentTime'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                
                             
                               
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="row" style="margin-left: 20px; margin-top:30px;">
            <div class="">
                <button type="button" class="btn btn-warning" (click)="updateAppConfigDetail()">Save</button>
                <button type="button " class="btn btn-warning" (onclick)="onDashboard()">Cancel</button>
            </div>
        </div>
    </div>
</div>