<div style="margin-top: 60px; margin-bottom: 5%">

    <div class="container-fluid">

        <div class="">
            <label class="mainhead col-form-label heiding-size-hl"> Location Tracking</label>
        </div>

        <form [formGroup]="locationTracking">
            <div class="row tab-div">
                <div class="col-lg-12">
                    <div class="">

                        <div class="div1">
                            <div class="form-group row">
                                <div class="hd-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="user_id" class="col-form-label pr-label">Employee Id<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="Text" value="" placeholder=" " id="user_id" formControlName="user_id">
                                    <div *ngIf="locationTracking.controls['user_id'].hasError('required') &&
                                    locationTracking.controls['user_id'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="from_date" class="col-form-label pr-label">From Date<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="date" value="" placeholder=" " id="from_date" formControlName="from_date">
                                    <div *ngIf="locationTracking.controls['from_date'].hasError('required') &&
                                    locationTracking.controls['from_date'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label for="to_date" class="col-form-label pr-label">To Date<span class = "mandatory" >*</span></label>
                                    <input class="hd-4 form-control lab" type="date" value="" placeholder=" " id="to_date" formControlName="to_date">
                                    <div *ngIf="locationTracking.controls['to_date'].hasError('required') &&
                                    locationTracking.controls['to_date'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <button class="btn-pos button" style="margin-top:20px" (click)="trackingLocationDetail()">
                                        Submit
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size "> Track List </label>
                        </div>
                        <div class="container" style="margin-top: 3vh; width: 100%;max-height:500px;overflow-y:scroll ">
                            <div class="">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="5%" class="th-bg-color">Card No</th>
                                            <th width="10%" class="th-bg-color">User ID</th>
                                            <th width="30%" class="th-bg-color">Purpose</th>
                                            <th width="30%" class="th-bg-color">Location</th>
                                            <th width="10%" class="th-bg-color">Check-in Time</th>
                                            <th width="10%" class="th-bg-color">Check-out Time</th>
                                            <th width="5%" class="th-bg-color">Track</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let tracklist of tracklistArray">
                                            <td width="5%" class="td-text">{{tracklist.emp_card_no}}</td>
                                            <td width="10%" class="td-text">{{tracklist.user_id}}</td>
                                            <td width="30%" class="td-text">{{tracklist.purpose}}</td>
                                            <td width="30%" class="td-text">{{tracklist.checked_in_location}} </td>
                                            <td width="10%" class="td-text">{{tracklist.check_in_time | date:'short'}}</td>
                                            <td width="10%" class="td-text">{{tracklist.check_out_time | date:'short'}} </td>
                                            <td width="5%" class="td-text" #submit><img src="assets/images/track-icon.png" style="height:50px;width:50px" (click)="track(tracklist)"></td>

                                        </tr>
                                    </tbody>






                                </table>
                            </div>
                            <!--<div class="row">
                                <div class="col-lg-6 btn-pos1">
                                    <div class="btn-2">
                                        <button type="button" class="btn button btn-2" (click)="prevClick()">Prev</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn button btn-3" (click)="nextForm()">Next</button>
                                    </div>
                                </div>

                            </div>-->
                        </div>

                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->

                    </div>
                    <div class="shad" style="padding-bottom:0px">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size ">Map</label>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></div>-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <map>  </map>
                        </div>

                    </div>

                    <hr>
                </div>
            </div>
        </form>

    </div>
</div>