    #powersoftLogo {
        background-color: white;
        padding: 0.3%;
        margin-left: 1.5%;
        margin-top: 0.3%;
        width: 13%;
        padding-bottom: 0;
    }
    
    .page-bar .page-breadcrumb {
        float: right;
    }
    
    .img-responsive {
        padding-bottom: 0;
    }
    
    .page-bar .page-breadcrumb {
        display: inline-block;
        /*float: left;*/
        padding: 8px;
        margin: 0;
        list-style: none;
    }
    /*page-bar .page-breadcrumb>li>a,
    .page-bar .page-breadcrumb>li>span {
        color: #888;
        font-size: 14px;
        text-shadow: none;
    }*/
    /*.fa-angle-right:before {
        content: "\f105";
    }
    */
    
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .hr{
        margin-top: 5px;
    }
    
    .form-control {
        font-size: 14px;
        font-weight: normal;
        color: #333;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    /***********************************Side bar Navigation CSS*********************************/
    
    .page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper,
    .page-sidebar .page-sidebar-menu>li.sidebar-search-wrapper,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.sidebar-toggler-wrapper,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.sidebar-search-wrapper {
        border: 0 !important;
    }
    
    .page-sidebar .page-sidebar-menu>li,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li {
        display: block;
        margin: 0;
        padding: 0;
        border: 0px;
    }
    
    div,
    input,
    select,
    textarea,
    span,
    img,
    table,
    label,
    td,
    th,
    p,
    a,
    button,
    ul,
    code,
    pre,
    li {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    
    div,
    input,
    select,
    textarea,
    span,
    img,
    table,
    label,
    td,
    th,
    p,
    a,
    button,
    ul,
    code,
    pre,
    li {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
    .page-sidebar .page-sidebar-menu>li.active>a,
    .page-sidebar .page-sidebar-menu>li.active.open>a {
        background: #1caf9a;
        border-top-color: transparent;
        color: #ffffff;
    }
    
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i,
    .page-sidebar .page-sidebar-menu>li>a>i {
        color: #606C7D;
    }
    
    .page-sidebar .page-sidebar-menu>li>a>i,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
        font-size: 16px;
        /*margin-right: 5px;*/
        text-shadow: none;
    }
    
    li [class^="fa-"],
    li [class^="glyphicon-"],
    li [class^="icon-"],
    li [class*=" fa-"],
    li [class*=" glyphicon-"],
    li [class*=" icon-"] {
        display: inline-block;
        width: 1.25em;
        text-align: center;
    }
    
    [class^="fa-"],
    [class^="glyphicon-"],
    [class^="icon-"],
    [class*=" fa-"],
    [class*=" glyphicon-"],
    [class*=" icon-"] {
        display: inline-block;
        margin-top: 1px;
        font-size: 14px;
        line-height: 14px;
        -webkit-font-smoothing: antialiased;
    }
    
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:last-child>a,
    .page-sidebar .page-sidebar-menu>li:last-child>a {
        border-bottom: 1px solid transparent !important;
    }
    
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a,
    .page-sidebar .page-sidebar-menu>li>a {
        border-top: 1px solid #3d4957;
        color: #b4bcc8;
    }
    
    .page-sidebar .page-sidebar-menu>li>a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
        display: block;
        position: relative;
        margin: 0;
        border: 0px;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
    }
    /*--------------------------------*/
    
    .nav-side-menu {
        overflow: auto;
        font-family: verdana;
        font-size: 12px;
        font-weight: 200;
        background-color: #2e353d;
        position: fixed;
        top: 0px;
        width: 300px;
        height: 100%;
        color: #e1ffff;
    }
    
    .nav-side-menu .brand {
        background-color: #23282e;
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
    }
    
    .nav-side-menu .toggle-btn {
        display: none;
    }
    
    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
        /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
    }
    
    .nav-side-menu ul :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }
    
    .nav-side-menu ul .active,
    .nav-side-menu li .active {
        border-left: 3px solid #d19b3d;
        background-color: #4f5b69;
    }
    
    .nav-side-menu ul .sub-menu li.active,
    .nav-side-menu li .sub-menu li.active {
        color: #d19b3d;
    }
    
    .nav-side-menu ul .sub-menu li.active a,
    .nav-side-menu li .sub-menu li.active a {
        color: #d19b3d;
    }
    
    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
        background-color: #181c20;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #23282e;
        margin-left: 0px;
    }
    
    .nav-side-menu ul .sub-menu li:hover,
    .nav-side-menu li .sub-menu li:hover {
        background-color: #020203;
    }
    
    .nav-side-menu ul .sub-menu li:before,
    .nav-side-menu li .sub-menu li:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }
    
    .nav-side-menu li {
        padding-left: 0px;
        border-left: 3px solid #2e353d;
        border-bottom: 1px solid #23282e;
    }
    
    .nav-side-menu li a {
        text-decoration: none;
        color: #e1ffff;
    }
    .button {
   border-width: 1px;
    border-radius: 4px;
    background-color: #ffd800;
    color: #00152A;
    text-align: center;
    box-shadow: 0px 2px 6.5px 0.5px rgba(0, 0, 0, 0.69);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto-Medium;
    margin-left: 23px;
    padding-left: 13px;
}

#table-scroll {
  height:200px;
  overflow:auto;  
  /*margin-top:20px;*/
}
    .btn-pos {
    display: -webkit-inline-box;
    padding: 5px;
    width:150px; 
    position:relative; 
    margin-top: 20px;
}
.bg-colour{
    background-color: #F4ECF7;
    margin-left:65px;
    padding:2px
}
    .lab {
    background-color: #f4f4f4;
}
    .hd-4 {
    font-family: Roboto-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 3.11;
    margin-bottom: 20px;
    color: #495f72 !important;
}
.hd-3 {
    font-family: Roboto-Regular;
    font-size: 16px;
    padding-bottom: 11px;
    margin-bottom: 0px;
    color: rgba(98, 108, 117, 0.82) !important;
}

    
    .nav-side-menu li a i {
        padding-left: 10px;
        width: 20px;
        padding-right: 20px;
    }
    
    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #4f5b69;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    .th-bg-color{
    color: #f08b23;
    background-color: #295261;
    font-family: Roboto-Regular;
    font-size: large;
    vertical-align: middle;
    font-weight: 100;

    }
    
    @media (max-width: 767px) {
        .nav-side-menu {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
        }
        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }
        .pr-label {
    font-size: initial;
}
        .brand {
            text-align: left !important;
            font-size: 22px;
            padding-left: 20px;
            line-height: 50px !important;
        }
    }
    
    @media (min-width: 767px) {
        .nav-side-menu .menu-list .menu-content {
            display: block;
        }
    }
    
    body {
        margin: 0px;
        padding: 0px;
    }
    .table-margin
    {
        padding:0px
    }
    .td-text {
    font-size: 14px;
    font-family: Roboto-Regular;
    vertical-align: middle;
    background: white;
    /*border: 2px solid #aaaaaa !important;*/
    font-weight: 100px;
    padding:6px;
}
    
    .btn-action5 {
        width: 100%;
        height: 150px;
        /* padding: 20%; */
        margin: 10px;
        background-color: #8e44ad;
    }
    
    .btn-action6 {
        width: 100%;
        height: 150px;
        /* padding: 20%; */
        margin: 10px;
        margin-bottom: 25px;
        background-color: #4b8df8;
    }
    
    .btn-action1 {
        width: 100%;
        height: 170px;
        /* padding: 20%; */
        margin: 10px;
        margin-bottom: 25px;
        background-color: #4b8df8;
    }
    
    .btn-action2 {
        width: 100%;
        height: 170px;
        /* padding: 20%; */
        margin: 10px;
        background-color: #d84a38;
    }
    
    .btn-action3 {
        width: 100%;
        height:170px;
        /* padding: 20%; */
        margin: 10px;
        background-color: #35aa47;
    }
    
    .btn-action4 {
        width: 100%;
        height: 170px;
        /* padding: 20%; */
        margin: 10px;
        margin-bottom: 10px;
        background-color: #ffb848;
    }

    
    .db-row {
        margin-left: 350px;
    }
    
    .icon-db {
        font-size: -webkit-xxx-large;
        /* background-color: white; */
        color: white;
    }
    
    .db-title {
        color: white;
        font-size: x-large;
    }
    
    portlet.box>.portlet-body {
        background-color: #fff;
        padding: 10px;
    }
    
    .portlet.box.blue>.portlet-title {
        background-color: #4B8DF8;
    }
    
    .mid-prorts .portlet-body img {
        max-width: 100%;
        margin-bottom: 10px;
    }
    /******/
    
    .red.btn {
        color: #FFFFFF;
        background-color: #d84a38;
        border-color: "";
    }
    
    .green.btn {
        color: #FFFFFF;
        background-color: #35aa47;
        border-color: "";
    }
    
    .purple.btn {
        color: #FFFFFF;
        background-color: #8E44AD;
        border-color: "";
    }
    
    .yellow.btn {
        color: #FFFFFF;
        background-color: #FFB848;
        border-color: "";
    }
    
    .portlet-body {
        border: solid 1px #4B8DF8;
    }
    /*. mid-prorts {
        margin-top: 10px;
    }*/
    
    .page-bar {
        background-color: #fff;
    }
    
    .page-bar .page-breadcrumb>li>a,
    .page-bar .page-breadcrumb>li>span {
        color: #888;
        font-size: 14px;
        text-shadow: none;
    }
    
    .page-bar .page-breadcrumb {
        float: right;
    }
    
    .task-title {
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #F4F6F9;
        font-size: large;
        text-align: start;
    }
    
    .department {
        margin-top: 5%;
    }
    
    .caption {
        font-size: large;
        color: white;
        margin-left: 5%;
    }
    
    .page-bar {
        background-color: #fff;
    }
    
    .page-title {
        padding: 0px;
        margin: 0;
        margin-left: 10px;
        font-size: 30px;
        letter-spacing: -1px;
        display: block;
        color:black;
        font-weight: 20000;
        font-family: "Open Sans", sans-serif;
    }
    .page-subtitle
    {
        padding: 0px;
        margin: 0;
        margin-left: 13px;
        font-size: 30px;
        letter-spacing: -1px;
        display: block;
        color: #666;
        font-weight: 20000;
        font-family: "Open Sans", sans-serif;
    }
    
    .db-row {
        margin-top: 5%;
        margin-left: 0%;
    }
    
    .todo-title {
        background-color: #44b6ae;
        border-bottom: 0;
        padding: 0 5px;
        margin-bottom: 0;
        color: #fff;
        width: 100%;
        height: 50px;
    }
    
    .title-db {
        color: white;
        font-size: 20px;
    }
    
    .portlet.box.green-haze>.portlet-title {
        background-color: #44b6ae;
    }
    
    .portlet.box>.portlet-title {
        border-bottom: 0;
        padding: 0 5px;
        margin-bottom: 0;
        color: #fff;
    }
    
    .portlet.box.green-haze>.portlet-title>.caption {
        color: #FFFFFF;
    }
    
    .portlet.box>.portlet-title>.caption {
        padding: 11px 0 9px 0;
    }
    
    .portlet>.portlet-title>.caption {
        float: left;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
        padding: 10px 0;
    }
    
    .portlet-title {
        display: flex;
    }
    
    .action {
        margin-left: 40%;
        margin-top: 1%;
    }
    
    .bt-style {
        background-color: transparent;
        color: white;
        font-size: 17px;
    }
    
    .task-list {
        text-decoration: none;
    }