<div class="row" style="height:30px">
</div>
<div style="margin-left:30px ; margin-top:50px; margin-bottom: 10px;margin-right:30px">
    <div class="row">
        <div class="col-md-6">
            <h3 class="page-title">
                Dashboard 
            </h3>
        </div>

        <div class="col-md-6 page-bar">
            <div class="row page-breadcrumb page-bar">
                <span><i class="fa fa-home"></i>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </span>
                <span><a href="#">Dashboard</a></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="page-subtitle">
              <small>statistics</small>
            </h3>
        </div>
    </div>
    <hr style="margin-top:5px">
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 ">
            <div>
                <button (click)="addProject()" type="button" class="btn-action1"><i class="fa fa-tasks icon-db"></i><br>
                    <div class="db-title">
                        Projects
                        <br>
                        32

                    </div>
                    
                </button>
            </div>

        </div>


        <div class="col-lg-3">
            <button type="button" class="btn-action2"><i class="fa fa-users icon-db" aria-hidden="true"></i><br>
            <div class="db-title"> 
                Employees
                <br>
                300
            </div>    
            </button>
        </div>
        <div class="col-lg-3">
            <button type="button" class="btn-action3"><i class="fa fa-briefcase icon-db" aria-hidden="true"></i>
<br>
                <div class="db-title">
                    Departments
                    <br>
                    8
                </div>
            </button>
        </div>
        <div class="col-lg-3">
            <button type="button" class="btn-action4"><i class="fa fa-th icon-db"></i><br>
                <div class="db-title">
                    Checked-in Employees
                    <br>
                    230
                </div>
            </button>
        </div>
    </div>

     <div class="row">
        <div class="col-md-6">
            <h3 class="page-subtitle">
              <small>Track Location</small>
            </h3>
        </div>
    </div>
        <hr style="margin-top:5px">

<form [formGroup]="dashboard">
    <div class="row " style="margin-left:10px">
             <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <label for="employeeId" class="col-form-label pr-label">Employee Id<span class = "mandatory" >*</span></label>
                 <input class="hd-4 form-control lab" type="Text" value="" placeholder=" " id="employeeId" formControlName="employeeId">
                 <div *ngIf="dashboard.controls['employeeId'].hasError('required') &&
                 dashboard.controls['employeeId'].touched" class="alert alert-danger inputValidationErr ">
                   {{errorMessageService.getErrorMessages().mandatoryField}}
                    </div>
            </div>
          <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label for="date" class="col-form-label pr-label">Date<span class = "mandatory" >*</span></label>
                    <input class="hd-4 form-control lab" type="Date" value="" placeholder=" " id="date" formControlName="date">
                     <div *ngIf="dashboard.controls['date'].hasError('required') &&
                     dashboard.controls['date'].touched" class="alert alert-danger inputValidationErr ">
                     {{errorMessageService.getErrorMessages().mandatoryField}}
                    </div>
            </div>
            <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <button class="btn-pos button">
                                        Track
                                    </button>
                                    
                                </div>
                            </div>
</form> 
<div class="row">
        <div class="col-md-6">
            <h3 class="page-subtitle">
              <small>Recent Activities</small>
            </h3>
        </div>
    </div>
     <hr style="margin-top:5px">
     <div class="row" style="padding-bottom:15px" >
             <div class="col-lg-5 bg-colour" style="margin-left:65px;padding:2px;">
                 
                    <h4 style="margin-left:5px;text-align:center">Last 10 Employee Checked-in</h4>
                    <div id="table-scroll">
                    <table class="table table-bordered  " >
                                <thead>
                                    <tr>
                                        <th class="th-bg-color">Emp Name</th>
                                        <th class="th-bg-color">Check-in Time</th>
                                        <th class="th-bg-color">Check-in Location</th>
                                       
                                    </tr>
                                </thead>
                            
                                <tbody >
                                    
                                    <tr>
                                        <td class="td-text">PriteshKumar</td>
                                        <td class="td-text">10.15 AM</td>
                                        <td class="td-text">Thane</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                               
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">sumit</td>
                                        <td class="td-text">9.12 AM</td>
                                        <td class="td-text">Dadar</td>
                                        
                                    </tr>
                                    
                                </tbody>
                            
                    </table>
                    </div>

             </div>
               
             <div class="col-lg-5 bg-colour" style="margin-left:65px;padding:2px">
                 
                    <h4 style="margin-left:5px;text-align:center">Most checked-in Places</h4>
                    <div id="table-scroll">
                    <table class="table table-bordered ">
                                <thead>
                                    <tr style="padding:4px">
                                        <th class="th-bg-color">Place Name</th>
                                        <th class="th-bg-color">No of Check-in</th>
                                        <th class="th-bg-color">Address</th>
                                       
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                               
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                                
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="td-text">Thane</td>
                                        <td class="td-text">55 </td>
                                        <td class="td-text">Waghale Estate,Thane</td>
                                        
                                    </tr>
                                </tbody>
                                
                    </table>
                 
                    </div>
             </div>
                 
        </div>

        <div class="row">
        <div class="col-md-6">
            <h3 class="page-subtitle">
              <small>Attendance & Performance</small>
            </h3>
        </div>
    </div>
    <div row>
  <div style="margin-left:120px;margin-top:20px">      
            <div  style="height:400px;width:900px" >
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div >
            <button class="button-pos button" style="margin-top:70px" (click)="randomize()">Update</button>
            </div>
  </div>

</div>
        <hr style="margin-top:5px">
        <div class="row" style="height:50px">

        </div>

</div>


             
   