<div style="height: auto">



    <div style="margin-top: 60px; height: auto; margin-bottom: 5%">
        <div class="container-fluid">
            <div>
                <div class="row hd-title">
                    <div class="col-md-6 gridhead">
                        Project List
                    </div>
                    <div class="col-md-6">
                        <div class="row page-breadcrumb">
                            <div class="page-bar-pos">
                                <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                                <span><a href="#">Project List</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="projectLisrForm">
                    <div class="row">

                        <div class="row searchDesign">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label for="selectProject" class="col-form-label pr-label">Project Name<span class = "mandatory " >*</span></label>
                                <select class="form-control-custom" style="height: 5vh;" formControlName="selectProject">   
                                        <option value = "" style="font-size: large;"> ---Select Project--- </option>
                                        <option value = " " >   </option>
                                        <option value = " " >   </option>
                                    </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input class="form-control cs-style" style="margin-top: 27px;" type="text" value="" placeholder="Search" id="searchField" formControlName="searchField">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 btn">
                                <button type="button" class="btn btn-warning cs-style dp-btn" style="margin-top: 27px; padding: 6px" (click)="addFormClick()">Add Project</button>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-top: 3vh; width: 100% ">
                        <div class="">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="th-bg-color">#</th>
                                        <th class="th-bg-color">Project Name</th>
                                        <th class="th-bg-color">Project status</th>
                                        <th class="th-bg-color">Type</th>
                                        <th class="th-bg-color">Proposed Dt</th>
                                        <th class="th-bg-color">Area (sqMtrs)</th>
                                        <th class="th-bg-color">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="td-text">1</td>
                                        <td class="td-text">001</td>
                                        <td class="td-text">Sales</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">25</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">
                                            <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>

                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">2</td>
                                        <td class="td-text">002</td>
                                        <td class="td-text">Management </td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">
                                            <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>
                                        </td>
                                        <!--<td>Water supply</td>-->
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">3</td>
                                        <td class="td-text">003</td>
                                        <td class="td-text">UI </td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">
                                            <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>
                                        </td>
                                        <!--<td>Sewerage (Chamber, Lines, Septic Tanks, STP)</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">4</td>
                                        <td class="td-text">004</td>
                                        <td class="td-text">R&D</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">
                                            <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>
                                        </td>
                                        <!--<td>Storm water drains</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">5</td>
                                        <td class="td-text">005</td>
                                        <td class="td-text">CS</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">
                                            <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span>
                                        </td>
                                        <!--<td>Landscaping & Tree planting</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">6</td>
                                        <td class="td-text">006</td>
                                        <td class="td-text">Legal</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">
                                            <span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span></td>
                                        <!--<td>Street Lighting</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">7</td>
                                        <td class="td-text">007</td>
                                        <td class="td-text">Civil</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text"><span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span></td>
                                        <!--<td>Community Buildings</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">8</td>
                                        <td class="td-text">008</td>
                                        <td class="td-text">Acctes</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text"><span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span></td>
                                        <!--<td>Treatment and disposal of sewage and sullage water</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">9</td>
                                        <td class="td-text">009</td>
                                        <td class="td-text">RD</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text"><span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span></td>
                                        <!--<td>Solid waste management and disposal</td>-->

                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="td-text">10</td>
                                        <td class="td-text">010</td>
                                        <td class="td-text">QA</td>
                                        <td class="td-text">Sales Head</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text">24</td>
                                        <td class="td-text"><span mdTooltip="View"><a href="#" data-container="body" data-placement="bottom" data-original-title="Edit" class="fa fa-edit tooltips icon-size"></a></span>
                                            <span mdTooltip="Update"><a href="#" data-container="body" data-placement="bottom" data-original-title="View" class="fa fa-list tooltips icon-size"></a></span>
                                            <span mdTooltip="Delete"><a href="#" data-container="body" data-placement="bottom" data-original-title="Delete" class="fa fa-trash-o tooltips icon-size"></a></span></td>
                                        <!--<td>Water conservation, rain water harvesting</td>-->

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 btn-pos">
                                <div class="btn-2">
                                    <button type="button" class="btn button btn-2" (click)="prevClick()">Prev</button>
                                </div>
                                <div>
                                    <button type="button" class="btn button btn-3" (click)="nextForm()">Next</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>