<div style="margin-top: 60px; margin-bottom: 10%">
    <div class="container-fluid">
        <div>
            <div class="row hd-title">
                <div class="col-md-6">
                    <div class="row page-breadcrumb">
                        <div class="page-bar-pos">
                            <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                            <span><a href="#">Project List</a>
                        <i class="fa fa-angle-right"></i></span>
                            <span><a href="#">Project Registration Form</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gridhead row">
                Project Registration Form
            </div>
            <form [formGroup]="projectSetupAddForm">
                <div class="row tab-div">
                    <div class="col-lg-12">
                        <div class="shad">
                            <div class=" hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="hd-2 col-form-label heiding-size"> Project Information </label>
                            </div>
                            <div class="div1">
                                <div class="form-group row">
                                  
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <label for="projectName" class="hd-3 col-form-label pr-label">Project Name<span class = "mandatory" >*</span></label>
                                                   <select class="hd-4 form-control-custom" formControlName="projectType">   
                            <option value = "" > ---Project Name--- </option>
                            <option value = " " >Project 1</option>
                            <option value = " " >Project 2</option>
                        </select>
                                        <div *ngIf="projectSetupAddForm.controls['projectName'].hasError('required') &&
                                    projectSetupAddForm.controls['projectName'].touched" class="alert alert-danger inputValidationErr ">
                                            {{errorMessageService.getErrorMessages().projectNameReq}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                        <label for="projectType" class="hd-3 col-form-label pr-label">Project Head<span class = "mandatory " >*</span></label>

                                        <select class="hd-4 form-control-custom" formControlName="projectType">   
                            <option value = "" > ---Project Head--- </option>
                            <option value = " " >  </option>
                            <option value = " " >   </option>
                        </select>
                                        <div *ngIf="projectSetupAddForm.controls['projectType'].hasError('required') &&
                                    projectSetupAddForm.controls['projectType'].touched" class="alert alert-danger inputValidationErr ">
                                            {{errorMessageService.getErrorMessages().projectTypeReq}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-left: 20px; margin-top:30px;">
                <div class="">
                    <button type="button" class="btn button" [disabled]="!projectSetupAddForm.valid">Save</button>
                    <button type="button " class="btn button" (onclick)="onDashboard()">Cancel</button>
                </div>
            </div>

        </div>
        <!--</form>-->
    </div>