            .lb-box {
                background-color: #666;
                height: 25%;
            }
            
            .form-control-custom {
                /* display: block; */
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
            
            tx-size {
                width: 50px;
            }
            
            #head {
                text-align: center;
                font-weight: bold;
                font-size: large;
                text-align: left;
            }
            
            .div-aln {
                text-align: left;
            }
            
            .su-header {
                /*background-color: black;*/
                height: 50px;
            }
            
            .form-control-custom {
                /* display: block; */
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
            
            .submitButtons {
                font-family: 'Lato', sans-serif;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.85;
                letter-spacing: normal;
                text-align: left;
                color: black;
                border-radius: 12px;
                border: none;
                background-color: silver;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
                padding-left: 10px;
                padding-right: 10px;
                margin-right: 10px;
                /*margin-left: 10px;*/
                cursor: pointer;
            }
            /*.signUpLabel {
    text-align: center;
    font-size: 20px;
}*/
            
            .signUpLabel {
                text-align: center;
                font-size: 20px;
                background-color: #444d58;
                color: white;
            }
            
            .heiding-size-hl {
                font-size: x-large;
                text-align: center;
            }
            
            .heiding-size {
                font-size: x-large;
                margin-bottom: 10px;
                /*background-color: #444d58;
    color: white;*/
            }
            
            #logButton {
                text-align: center;
            }
            
            .button {
                background-color: #ffd800;
                /* Green */
                border-width: 1px;
                border-color: #295261;
                color: #295261;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 18px;
                margin: 4px 2px;
                cursor: pointer;
            }
            
            .br-row {
                border: 5px solid #444d58;
            }
            
            .pr-label {
                font-size: initial;
                font-family: Roboto-Regular;
                font-size: larger
            }
            
            .hr {
                size: 5px;
            }
            
            .tab-div {
                margin: 10px;
            }
            
            .hd-title {
                margin-bottom: 5vh;
                max-width: 100%;
                margin-bottom: 5px;
                font-family: Roboto-Regular;
                font-size: 24px;
                display: block;
                color: #666;
            }
            
            .page-breadcrumb {
                color: #888;
                font-size: 18px;
                text-shadow: none
            }
            
            .page-bar {
                float: right;
            }
            
            .page-bar-pos {
                color: #888;
            }
            
            .btn-pos {
                display: -webkit-inline-box;
            }
            
            .btn-2 {
                margin-left: 5%;
            }
            
            .btn-3 {
                margin-left: 60%;
            }
            
            .th-bg-color {
                color: #ffd800;
                background-color: #295261;
                font-family: Roboto-Regular;
                font-size: 18px;
                /*height: 5vh;*/
                vertical-align: middle;
                border: 2px solid #aaaaaa !important;
            }
            
            .searchDesign {
                padding: 20px;
            }
            
            .td-text {
                font-size: 16px;
                font-family: Roboto-Regular;
                vertical-align: middle;
                background: white;
                border: 2px solid #aaaaaa !important;
            }
            
            .icon-size {
                margin: 10px;
                font-size: large;
            }
            
            .bt-color {
                color: white;
                background-color: #f08b23;
            }
            
            .div1 {
                border: 1px solid white;
                /*box-shadow: 0px 0px 5px #888888;*/
                padding: 20px;
                background-color: white;
                margin-bottom: 3%;
            }
            
            .shad {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }
            
            .hd-1 {
                font-size: 20px;
                background-color: #295261;
                color: #ffd800;
                border: 5px;
                border-style: blue;
                border-bottom: 2px solid rgba(0, 0, 0, 0.12);
                margin-bottom: 18px;
            }
            
            .hd-2 {
                font-family: Roboto-Medium;
                margin-left: 20px;
                margin-top: 15px;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 11px;
            }
            
            .hd-3 {
                font-family: Roboto-Regular !important;
                font-size: 16px !important;
                padding-bottom: 11px !important;
                margin-bottom: 0px;
                color: rgba(98, 108, 117, 0.82) !important;
            }
            
            .hd-4 {
                font-family: Roboto-Medium;
                font-size: 18px;
                font-weight: 500;
                line-height: 3.11;
                color: #495f72 !important;
            }
            
            .tb-arrange {
                display: table-row;
            }
            /*input,
            select,
            select option {
                background-color: #f4f4f4 !important;
                font-family: Roboto-Medium !important;
                font-size: 14px;
                /*font-weight: 300;
                line-height: 1;*/
            /*color: #495f72 !important;
            }*/
            
             ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #495f72;
                ;
            }
            
            .font1 {
                font-family: Roboto-Regular !important;
                font-size: 16px !important;
                padding-top: 15px !important;
                margin-bottom: 0px;
                color: rgba(98, 108, 117, 0.82) !important;
            }
            
            .gridhead {
                font-family: Roboto-Regular;
                color: #2d3a4b;
                font-size: 24px;
                font-weight: 600;
                text-align: -webkit-center;
            }
            
            .cs-style {
                margin-left: 20px;
                font-size: large;
                height: 5vh;
            }
            
            .dp-btn {
                height: 5vh;
                margin: 0;
            }
            
            input,
            select,
            select option {
                background-color: #f4f4f4 !important;
                font-family: Roboto-Medium !important;
                font-size: 18px !important;
                font-weight: 500 !important;
                line-height: 3.11 !important;
                color: #495f72 !important;
            }
            
            input[type="file"] {
                background-color: #f4f4f4 !important;
                font-family: Roboto-Medium !important;
                font-size: 15px !important;
                font-weight: 500 !important;
                line-height: 2.11 !important;
                color: #495f72 !important;
                padding: 2px 1px 3px 22px;
            }