/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


/*-------------------------- Generic CSS -------------------------------------------*/

* {
    font-family: 'Lato', sans-serif;
}

.rowImage {
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
}

.orangeText {
    color: #f58634;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

.noPaddingMargin {
    padding: 0;
    margin: 0;
}

.paddingRight0 {
    padding-right: 0;
}

#adminWebAppContainer {
    /*height: 100%;*/
}


/*--------------------------------CSS for the header--------------------------*/


/*#appHeader {
    height: 72px;
}*/

#appLogo {
    text-align: right;
    width: 100px;
    height: 100px;
}


/*-----------------------------------CSS for the body-------------------------*/

#appBody {
    /* height:80vh;
    width: 100vw;*/
    height: 100%;
}


/*-----------------------------------CSS for the footer-----------------------*/


/*#footerImage img {
    width: 150px;
}

.footerLinks a {
    color: #606060;
}

.footerLinks a:hover {
    color: #f58634;
    text-decoration: none;
}*/


/*#appFooter {
    height: 10vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.6;
    color: #606060;
    padding: 1.5vh 0 1.5vh 0;
}*/


/*--------------------css for the login page----------------------------------*/

.loginPage {
    background-image: url(./assets/images/rectangle-7-copy@3x.jpg);
    background-size: 100%;
    height: 900px;
    background-repeat: no-repeat;
}


/*body .loginPage{
     background-image: url(./assets/images/login_bg_image.jpg);
         background-size: 100%;
}*/

.loginPage .footerLinks {
    margin: auto;
    margin-left: 20%;
}

.loginPage header {
    display: none;
}

.loginPage #appBody {
    height: 100vh;
}

.loginPage #footerImage {
    float: right;
    margin-right: 24%;
}

.loginPage .footerLinks {
    margin: auto;
    margin-left: 30%;
}

.loginPage #appFooter {
    bottom: 0;
    position: fixed;
}


/*----------------------------Font-------------------*/

@font-face {
    font-family: "OpenSans";
    src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url('/assets/fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('/assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('/assets/fonts/Roboto-Regular.ttf');
}


/*--------------------------CSS for the Home page--------------------------------*/

.su-header {
    background-color: #ffd800;
    height: 56px;
    position: fixed;
    top: 0px;
    margin: auto;
    z-index: 100000;
    width: 100%;
    box-shadow: 0px 2px 6.5px 0.5px rgba(0, 0, 0, 0.69);
}

.su-footer {
    background-color: #444d58;
    height: 50px;
    position: fixed;
    bottom: 0px;
    /*margin: auto;*/
    z-index: 10000;
    width: 100%;
    border-bottom: 2px;
    padding: 0px;
    background-color: #ebebeb;
    margin-left: -18px;
    /* background: red; */
    text-align: -webkit-center;
}

.homePage {
    background-image: linear-gradient(75deg, #f7f7f7, #fff4f4);
}

.homePage #appFooter {
    background-color: #ffffff;
}

.homePage #footerImage {
    float: right;
}

.homePage #innerPageHeaderLogo {
    display: none;
}


/*-----------------------------CSS for the Inner pages-----------------------------------*/

.innerPage #appFooter {
    background-color: #ffffff;
    box-shadow: 0 0 3.9px 0.6px rgba(0, 0, 0, 0.78);
    /*height:8vh;*/
    height: 45px;
    position: fixed;
    line-height: 1 !important;
    padding: 1.3% !important;
    bottom: 0;
}

.innerPage #footerImage {
    float: right;
}

.innerPage .spanPadding {
    padding-right: 8%;
}

.innerPage #footerImage {
    margin-right: 5%;
    margin-top: -1%;
}

.innerPage .footerLinks {
    margin-left: 25%;
}

.innerPage #appHeader {
    background-color: #f58634;
    box-shadow: 0 0 3.9px 0.6px rgba(0, 0, 0, 0.78);
}

.innerPage #appLogo {
    display: none;
}

.innerPage #appTitle {
    margin-top: 3.7vh !important;
}

.innerPage #appTitle,
#userTitle,
#logoutBt {
    color: #ffffff;
}

.innerPage #headerUserRoleName {
    color: #ffffff !important;
}

.innerPage .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.commonNavContainer {
    background-color: #444d58;
    /*height: 82vh;
    padding:1vh 0 1vh 0;*/
    height: 100%;
    position: fixed;
    display: block;
    left: 0;
    padding: 0.5% 0 0 0;
}


/*.innerPage .commonNavContainer {
    background-color: #606062;
    height: 100%;
    position: fixed;
    display: block;
    left: 0;
    padding: 0.5% 0 0 0;
}*/

.commonContentContainer,
.commonNavContainer+div {
    position: fixed;
    right: 0;
}


/*.innerPage .commonContentContainer,
.innerPage .commonNavContainer+div {
    position: fixed;
    right: 0;
}*/

.innerPage #appBody {
    background-color: #f9f9f9;
    /* height:82vh;*/
}


/*.innerPage Button{
    font-size: 10.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 12px;
    background-color: #f58634;
    box-shadow: -0.1px 2.5px 4.9px 0.1px rgba(0, 0, 0, 0.48);
}*/

.loader {
    z-index: 1000;
    position: fixed;
    top: 45vh;
    right: 45vw;
    max-height: 50px;
}

.innerPageButtons {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    background-color: #f58634;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    cursor: pointer;
}

.innerPageButtons[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
    box-shadow: none;
}

.innerPage #innerPageHeaderLogo {
    /* display: block; */
    margin: 10px;
    /* height: 8vh; */
    /* height: auto; */
    /* height: 74px; */
    /* padding: 5px 10px; */
    /* vertical-align: middle; */
    width: 90%;
}

.innerPage #innerPageHeaderLogo:hover {
    cursor: pointer;
}

.innerPage #userTitle:hover {
    cursor: pointer;
}

.innerPage #innerPageLogoName {
    padding-top: 2vh;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

#buttonField {
    background: #f58634;
    border-radius: 2px;
    background-color: #f58634;
    width: 100px;
    box-shadow: 0px 2px 15.4px 0.6px rgba(0, 0, 0, 0.71);
    cursor: pointer;
}

.inputField {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    width: 200px;
    text-align: left;
    margin-bottom: 10px;
    color: #f58634;
}


/*------------------internal page body title*/

#internalRolesUsersBodyContainer p {
    font-size: 11.2px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #5b5b5b;
}


/*-------------------------css for the navigation menu & sub-menu-------------*/

.linkSelected {
    background-color: #727376 !important;
    border-left: 4px solid #f58634 !important;
    color: #f58634 !important;
}

.sublinkSelected {
    background-color: #727376 !important;
    border-left: 4px solid #f58634 !important;
    color: #f58634 !important;
}


/*--------------------------css to show the error in the input field----------*/

.inputValidationErr {
    padding: 0;
    margin: 10px 0 0 0;
    background: transparent;
    border: none;
    box-shadow: none;
    color: red;
    text-shadow: none;
}

.innerPageContents {
    overflow: auto;
    height: 81vh;
    /*75vh and width 100%*/
    width: 100%;
    padding-bottom: 10px;
}


/*---------------------------CSS for the scroll Bar---------------------------*/

::-webkit-scrollbar {
    width: 5px;
    margin-left: 1%;
    right: 0;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFE5C4;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}


/*-------------------------------CSS for the tables---------------------------*/

.table {
    width: 100%;
    /*max-width: 99%;*/
    /*height:200px !important;*/
    overflow: auto;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    /*border:solid black 1px;
    border-radius:12px;
    -moz-border-radius:12px;*/
    box-shadow: 0px 1px 3.3px 0.2px rgba(0, 0, 0, 0.31);
}

table thead tr th {
    border: none;
    background-color: #f9f9f9;
}

td,
th {
    /*border-left:solid black 1px;
    border-top:solid black 1px;*/
    text-align: center;
}

tr {
    border-bottom: 1px solid #e1e7f0;
}

thead tr {
    font-family: 'Lato', sans-serif;
    ;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    /*font-stretch: normal;*/
    line-height: 1;
    letter-spacing: normal;
    color: #6d6d6d;
    /*background-color: #f9f9f9;
    border-top: none;*/
    border-radius: 12px 0;
}

td {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #606060;
}

tbody tr td {
    border: none !important;
}

td:first-child,
th:first-child {
    border-left: none;
    border-right: none;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    /* border: 1px solid #ddd; */
    border: none !important;
    overflow: auto;
}


/*-------------------------CSS for the down navigation arrow------------------*/

.downNavArrow {
    vertical-align: middle;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}


/*----------------------------------CSS for the navigation menu---------------*/

.nav-side-menu {
    overflow: auto;
    font-family: Roboto-Regular;
    font-size: 14px;
    /*font-weight: 200;*/
    background-color: #444d58;
    /*position: fixed;*/
    width: 100%;
    color: #e1ffff;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
    cursor: pointer;
}

.nav-side-menu ul .linkSelected a {
    color: #f58634;
}

.nav-side-menu ul li a {
    display: block;
    padding-left: 10%;
    border-left: 4px solid transparent;
}

.nav-side-menu ul li.selected {
    /*, .nav-side-menu li.selected{*/
    border-left: 4px solid #f58634;
    background-color: #727376;
    color: yellow;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #606062;
    border: none;
    display: block;
    line-height: 28px;
    padding-left: 20%;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #727376;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: 'Lato', sans-serif;
    ;
    display: inline-block;
    padding-left: 10%;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #f5f5f5;
}

.nav-side-menu li a:hover {
    background-color: #727376;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

.col-lg-2,
.col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}


/*------------------------CSS for the checkbox--------------------------------*/

.phCheckbox {
    text-align: left;
}

.phCheckbox input[type="checkbox"] {
    display: none;
}

.phCheckbox label {
    cursor: pointer;
}

.phCheckbox label.disabled {
    color: #aaa;
}

.phCheckbox input[type="checkbox"]+label:before {
    border: 1px solid #7f83a2;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}

.phCheckbox input[type="checkbox"]:checked+label:before {
    background: #2fbb50;
    color: #fff;
    content: "\2713";
    text-align: center;
    border-radius: 1px solid #7f83a2;
}

.phCheckbox input[type="checkbox"]:checked+label:after {
    font-weight: bold;
}

.phCheckbox input[disabled]+label:before {
    opacity: 0.5;
}

.floatBtnRightBtom {
    right: 20px;
    position: fixed;
    top: 87vh;
}


/*-------------------CSS for form submit button-------------------------------*/

.submitBtn {
    text-align: center;
}

.mandatory {
    color: red;
}


/*-------------------CSS for div table divisions-------------------------------*/

.divisionHead {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    /*text-align: left;*/
    color: #6d6d6d;
    line-height: 3;
    background-color: #f9f9f9;
}

.divisionData {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    /*text-align: left;*/
    color: #606060;
    border-bottom: 3px solid #f9f9f9;
    line-height: 3;
    background-color: #ffffff;
    overflow: auto;
}

.divisionViewHeight {
    overflow: auto;
    height: 200px;
}

.modal {
    opacity: 1 !important;
    width: 40vw !important;
    height: 25vh !important;
}

.modal-dialog {
    opacity: 1 !important;
    position: fixed !important;
    top: 20vh !important;
    width: 40vw !important;
    height: 25vh !important;
    left: 30vw !important;
    right: auto !important;
    /*    border:1px solid black !important;
*/
}


/*-------------------CSS for Breadcrumbs---------------------------*/

.breadcrumbs {
    list-style: none;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.breadcrumbs span a {
    color: #6d6d6d;
}

.breadcrumbs span a:last-child {
    color: #f58634;
}


/*-------------------Form Subgroups Styles---------------------------*/

.userFormHeadings {
    background-color: grey;
    color: white;
    margin-bottom: 20px;
}

.userFormHeadings h4 {
    font-size: 14px;
}

.cancelButton {
    margin: 5px 10px;
}


/**************************Start of CSS for Image preview*************************/

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 30%;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}


/* Example stylistic flourishes */

.para-inside-label {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.fileContainer {
    padding: 5px;
    align-items: center;
    display: flex;
    margin-right: 20px;
    background: #cccccc;
    float: left;
}

.img,
.cross-img {
    position: absolute;
    top: -9px;
    left: 163px;
    height: 20px;
    width: 20px;
}

.cross-img {
    transform: rotate(45deg);
    opacity: 0.5;
}

.paddingToAdjustRow {
    /*padding: 15%;*/
    border-right: 3px solid #f9f9f9 !important;
}

@viewport {
    /*width: 980px;*/
    min-zoom: 0.25;
    max-zoom: 5;
    orientation: landscape;
}


/**************************End of CSS for Image preview*************************/