<div style="margin-top: 60px; margin-bottom: 20%">
    <div class="container-fluid">

        <!--<div class="">
            <label class="mainhead col-form-label heiding-size-hl"> Department Registration Form </label>
        </div>-->
        <div class="row hd-title">
            <div class="gridhead col-md-6">
                Department Registration Form
            </div>
            <div class="col-md-6">
                <div class="row page-breadcrumb">
                    <div class="page-bar-pos">
                        <span><i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                            </span>
                        <span><a href="#">Department List</a>
                        <i class="fa fa-angle-right"></i></span>
                        <span><a href="#">Department Registration Form</a></span>

                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="departmentRegistrationForm">
            <div class="row tab-div">
                <div class="col-lg-12">
                    <div class="shad">
                        <div class=" hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="hd-2 col-form-label heiding-size"> Department Details </label>
                        </div>
                        <div class="div1">
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="deptCode" class="hd-3 col-form-label pr-label">Department Code<span class = "mandatory" >*</span></label>
                                    <input class="form-control" type="text" value="" placeholder="Enter Department Code" id="deptCode" formControlName="deptCode">
                                    <div *ngIf="departmentRegistrationForm.controls['deptCode'].hasError('required') &&
                                    departmentRegistrationForm.controls['deptCode'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label for="deptName" class="hd-3 col-form-label pr-label">Department Name<span class = "mandatory" >*</span></label>
                                    <input class="form-control" type="text" value="" placeholder="Project Name" id="deptName" formControlName="deptName">
                                    <div *ngIf="departmentRegistrationForm.controls['deptName'].hasError('required') &&
                                    departmentRegistrationForm.controls['deptName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="deptHead" class="hd-3 col-form-label pr-label">Department Head<span class = "mandatory " >*</span></label>
                                    <input class="form-control" type="text" value="" placeholder="Project Name" id="deptHead" formControlName="deptHead">
                                    <div *ngIf="departmentRegistrationForm.controls['deptHead'].hasError('required') &&
                                    departmentRegistrationForm.controls['deptHead'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="strDate" class="hd-3 col-form-label pr-label ">Department Start Date<span class="mandatory">*</span></label>
                                    <!--<input class="form-control " type="text " value=" " placeholder="Pan Card Number " id="panNumber ">-->
                                    <input class="hd-4 form-control " type="date" id="strDate" formControlName="strDate">
                                    <div *ngIf="departmentRegistrationForm.controls['strDate'].hasError('required') &&
                                    departmentRegistrationForm.controls['strDate'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().mandatoryField}}
                                    </div>
                                </div>
                              

                            </div>
                          

                        </div>
                    </div>


                    <!--<div class="shad">
                        <div class="hd-1 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <label class="hd-2 col-form-label heiding-size ">Bank details (as per section 4 (2)(I)(D) of the act)</label>
                        </div>

                        <div class="div1">

                            <div class="form-group row ">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="bankName" class="hd-3 col-form-label pr-label "> Bank Name<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Bank Name " id="bankName" formControlName="bankName">
                                    <div *ngIf="departmentRegistrationForm.controls['bankName'].hasError('required') &&
                                    departmentRegistrationForm.controls['bankName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().bankNameReq}}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="branchName" class="hd-3 col-form-label pr-label "> Branch Name<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Branch Name " id="branchName" formControlName="branchName">
                                    <div *ngIf="departmentRegistrationForm.controls['branchName'].hasError('required') &&
                                    departmentRegistrationForm.controls['branchName'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().branchNameReq}}
                                    </div>
                                </div>
                                <div class="hd-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="IfscCode" class="col-form-label pr-label "> IFSC code<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter IFSC code " id="IfscCode" formControlName="IfscCode">
                                    <div *ngIf="departmentRegistrationForm.controls['IfscCode'].hasError('required') &&
                                    departmentRegistrationForm.controls['IfscCode'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().IfscCodeReq}}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row ">

                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="accNumber" class="hd-3 col-form-label pr-label "> Back Account Number<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Back Account Number " id="accNumber" formControlName="accNumber">
                                    <div *ngIf="departmentRegistrationForm.controls['accNumber'].hasError('required') &&
                                    departmentRegistrationForm.controls['accNumber'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().accNumberReq}}
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="bankAddress" class="hd-3 col-form-label pr-label "> Bank Address<span class = "mandatory " >*</span></label>
                                    <input class="hd-4 form-control " type="text " value=" " placeholder="Enter Bank Address " id="bankAddress" formControlName="bankAddress">
                                    <div *ngIf="departmentRegistrationForm.controls['bankAddress'].hasError('required') &&
                                    departmentRegistrationForm.controls['bankAddress'].touched" class="alert alert-danger inputValidationErr ">
                                        {{errorMessageService.getErrorMessages().bankAddressReq}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </form>
        <div class="row" style="margin-left: 20px; margin-top:30px;">
            <div class="">
                <button type="button" class="btn button" [disabled]="!departmentRegistrationForm.valid">Save</button>
                <button type="button " class="btn button" (onclick)="onDashboard()">Cancel</button>
            </div>
        </div>

    </div>

</div>