<meta name="viewport" content="width=device-width" />
<div class="container-fluid">
    <div class="row">
        <header class="su-header" style=" border-bottom:2px ">
            <div class="col-lg-6">
                <img id="powersoftLogo" class="img-responsive" src="assets/images/new.png" alt="posersoft logo">
            </div>
            <div class="col-lg-6 icon-menu">
                <div class="dropdown icon-menu mainheader">
                    <div class="col-lg-1 icon-notification ">
                        <i class="fa fa-bell-o icon-property dropbtn" aria-hidden="true "></i>
                        <div class="col-lg-1 icon-notification dropdown ">
                            <div class="dropdown-content">
                                <div class="">
                                    <a href="#">Notification 1</a>
                                    <a href="#">Notification 2</a>
                                    <a href="#">Notification 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown icon-menu">
                    <div class="col-lg-1 icon-notification ">
                        <i class="fa fa-envelope-open-o icon-property " aria-hidden="true "></i>
                        <div class="col-lg-1 icon-notification dropdown ">
                            <div class="dropdown-content">
                                <div class="">
                                    <a href="#">Message 1</a>
                                    <a href="#">Message 2</a>
                                    <a href="#">Message 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown icon-menu">
                    <div class="col-lg-1 icon-notification ">
                        <i class="fa fa-calendar icon-property " aria-hidden="true "></i>
                        <div class="col-lg-1 icon-notification dropdown ">
                            <div class="dropdown-content">
                                <div class="">
                                    <a href="#">Pending Task 1</a>
                                    <a href="#">Pending Task 2</a>
                                    <a href="#">Pending Task 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown icon-menu">
                    <a class="a-style">
                        <img alt=" " class="img-rounded mainheader" src="assets/images/avatar3_small.jpg ">
                        <span class="username username-hide-on-mobile mainheader">
					            Nick<i class="fa fa-angle-down "></i>
                            </span>
                    </a>
                    <div class="col-lg-2 icon-notification dropdown ">
                        <div class="dropdown-content">
                            <div class="">
                                <a href="#">Me Profile</a>
                                <a href="#">Inbox</a>
                                <a href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </header>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <div class="nav-side-menu">
                <div class="brand">abc</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#Home" class="collapsed slider" style="margin-top: 14px" (click)="isShowUser()">

                            <i class="fa fa-dashboard fa-lg sm-space selected"></i> Home<span class="arrow"></span>

                        </li>
                        <ul *ngIf="isShow" class="sub-menu collapse" id="Home">
                            <li class="ul-slider" (click)="onDashboard()"> Dashboard </li>

                        </ul>

                        <li data-toggle="collapse" data-target="#AccountSettings" class="collapsed slider" (click)="isShowUser()">

                            <i class="glyphicon glyphicon-cog sm-space"></i> Account Settings <span class="arrow"></span>

                        </li>
                        <ul *ngIf="isShow" class="sub-menu collapse" id="AccountSettings">

                            <li class="ul-slider" (click)="navigate('userList')">Add User</li>
                            <li class="ul-slider" (click)="navigate('departmentList')">Add Department</li>
                            <li class="ul-slider" (click)="navigate('list-page')">Add Project</li>
                            <li class="ul-slider" (click)="navigate('company-profile')">Company Profile</li>

                        </ul>

                        <li data-toggle="collapse" data-target="#appConfig" class="collapsed slider" style="padding: 1vh;" (click)="appConfig()">

                            <i class="glyphicon glyphicon-briefcase sm-space"></i> App Configuration

                        </li>

                        <li data-toggle="collapse" data-target="#locationTracking" class="collapsed slider" (click)="locationTracking()">

                            <i class="fa fa-map-marker sm-space" aria-hidden="true"></i> Location Tracking

                        </li>

                        <li data-toggle="collapse" data-target="#employeeRecord" class="collapsed slider" (click)="employeeRecord()">

                            <i class="glyphicon glyphicon-briefcase sm-space"></i> Employee Reporting<span class="arrow"></span>

                        </li>

                        <li class="slider">
                            <i class="glyphicon glyphicon-list-alt sm-space"></i> Application Withdrawal
                        </li>

                        <li class="slider">
                            <i class="glyphicon glyphicon-list-alt sm-space"></i> Withdrawal of Money
                        </li>

                        <li data-toggle="collapse" data-target="#report" class="collapsed slider" (click)="isShowUser()">

                            <i class="glyphicon glyphicon-briefcase sm-space"></i> Reports <span class="arrow"></span>

                        </li>
                        <ul *ngIf="isShow" class="sub-menu collapse" id="report">
                            <li class="ul-slider">Project View</li>
                        </ul>

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-10" style="padding: 0px;background: #f7f7f7 ">
            <router-outlet></router-outlet>
            <div class="col-lg-12 ">
                <div class="container-fluid">
                    <footer class="su-footer ab1" style=" border-bottom:2px;padding:0px ;background-color:#ebebeb;">
                        <div class="row ab2">

                            <div class="col-lg-1 ab">About US</div>
                            <div class="col-lg-1 ab">
                                Privacy Policy
                            </div>
                            <div class="col-lg-1 ab">Contact Us</div>
                        </div>




                    </footer>
                </div>
            </div>
        </div>

    </div>

</div>