#powersoftLogo {
    background-color: white;
    padding: 0.3%;
    margin-left: 1.5%;
    margin-top: 0.3%;
    width: 13%;
}

#powersoftLogo {
    background-color: transparent;
    padding: 0.3%;
    margin-left: 0.5%;
    margin-top: 0.3%;
    width: 25%;
    padding-bottom: 0;
}

.img-responsive {
    padding-bottom: 0;
}

.fa-angle-right:before {
    content: "\f105";
    color: white;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/***********************************Side bar Navigation CSS*********************************/

.nav-side-menu {
    overflow: auto;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 200;
    background-color: #00152A;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #6b8faf;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.ab1 {
    border-bottom: 2px;
    /* padding: 0px; */
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto-Regular;
    color: #878787;
    margin-left: -15px;
}

.ab2 {
    padding-left: 31px;
}

.mainheader {
    padding-top: 8px !important;
}


/*.ab {
    width: 279px;
    height: 14px;
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 4;
    text-align: left;
    color: #878787;
    padding-left: 31px;
}*/

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.nav-side-menu li.selected a {
    color: #ffd800;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.mainhe {
    padding: 5px 5px 5px 5px;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #011936;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    color: #ffd800;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: #ffd800;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

.icon-notification {
    color: #79869a;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.li:hover {
    color: orange
}

.icon-menu {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: x-large;
    padding: 0px;
}

.a-style {
    width: 100px;
    font-size: 20px;
    color: white;
    display: inherit;
    margin-top: 2px;
}

.icon-property {
    font-size: x-large;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 19px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slider {
    font-size: large;
    height: 7vh;
    padding: 1vh !important;
}

.ul-slider {
    font-size: initial;
    height: 5vh;
    padding: 1vh !important;
}

.sm-space {
    margin-right: 1vh;
    height: 7vh;
    padding: 1vh;
}